.files-browser {

  .files-tree-view {
    width: 100%;
    border-top: 1px solid #eee;
    // border-radius: 2px;

    * {
      -webkit-user-select: none;
    }

    .item {
      &:extend(.flex);
      flex-wrap: nowrap;
      align-items: center;
      padding: 0 10px;
      height: 34px;
      border-bottom: 1px solid #eee;
      cursor: pointer;

      * {
        cursor: pointer;
      }

      &:hover {
        background: #fafafa;
      }

      &.empty {
        cursor: default;
        color: @color-text--muted;

        * {
          cursor: default;
        }

        &:hover {
          background: #fff;
        }
      }

      .fa {
        color: fadeout(shade(@blue, 35%), 35%);
        color: fadeout(@color-text--muted, 15%);
        width: 20px;
        margin-right: 5px;
        text-align: center;

        &.fa-folder {
          font-size: 15.5px;
          color: fadeout(shade(@blue, 35%), 45%);
          color: fadeout(@color-text--muted, 45%);
        }
      }

      .name-container {
        flex: 1;
      }

      .name {
        &:extend(.overflow-ellipsis);

        &:hover {
          text-decoration: underline;
        }
      }

      .updated,
      .size {
        color: #999;
        padding: 0 5px;
        font-weight: 300;
      }

      .updated {
        flex: 0 0 170px;
      }

      .size {
        flex: 0 0 100px;
        text-align: right;
      }

      .type {
        flex: 0 0 90px;
      }

      &.selected:not(.dragover) {
        // background: tint(@blue, 15%);
        // color: #fff;
        // -webkit-font-smoothing: antialiased;
        // font-weight: 600;

        .updated,
        .size,
        .type {
          // color: #fff;
          // font-weight: 500;
        }
      }
    }

    & > .droptarget {
      height: 100%;
    }

    .dragover {
      outline: 1px solid #819eda;
      background: #fafafa;
      border-radius: 2px;
    }
  }
}