.subscriptions {
  h4 {
    margin: 10px;
    color: #666;
  }
  .files-list {
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 10px;

    .fl-row {
      padding: 10px 0;
      .fl-name {
        strong {
          font-size: 14px;
        }
      }
    }
  }
}