@import "../../base/spacing";
@import "../../utils/flex";
@import "../../components/link";

.archive-view-header {
  &:extend(.flex);
  height: 30px;

  .title {
    margin-top: 0;
    font-size: 20px;

    i {
      margin-left: @margin-icon;
      color: @color-text--light;

      &:hover {
        color: @color-text;
      }
    }
  }

  .edit {
    cursor: pointer;
  }
}

.archive-edit-details {
  input[name="title"] {
    width: 200px;
  }
  input[name="description"] {
    width: 100%;
  }
  button {
    height: 26px;
    margin-left: 5px;
  }
}