// builtin page components
@import "./files-sidebar.less";
@import "./files-list.less";
@import "./new-file-popup.less";
@import "./archive-metadata.less";
@import "./archive-toolbar.less";
@import "./archive-header.less";
@import "./archive-desc.less";
@import "./archive-readonly.less";
@import "./editor.less";

/*
@import "./archive-menu.less";
@import "./archive-history.less";
*/

.archive-view {
  width: 650px;
  margin-left: 400px;
  padding: @padding-builtin-page @padding-component--wide;
}

.sidebar-collapsed .archive-view {
  margin-left: 210px;
}