@import "../../base/spacing";
@import "../../base/colors";
@import "../../utils/flex";

.editor-header {
  &:extend(.flex);
  padding: 0 @padding-component--tight 0 0;
  height: 60px;
  box-sizing: content-box;
  border-bottom: 1px solid @border-menu;

  .bigbutton {
    line-height: 60px;
    background: @blue;
    color: rgba(255,255,255,0.75);
    width: 30px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;

    * {
      cursor: pointer;
    }

    &:hover {
      background: darken(@blue, 5%);
    }
  }

  .main {
    flex: 1;
    padding: 0 @padding-component--tight;
  }

  .actions {
    padding-top: 18px;
    padding-right: 5px;
  }

  .path {
    &:extend(.flex);
    align-items: baseline;
    height: 30px;
    line-height: 32px;
    padding: 0 5px;
    letter-spacing: 0.5px;

    i {
      margin-right: @margin-icon;
    }

    .archive {
      font-size: 19px;
    }

    .file {
      padding: 0 7px;
      font-size: 14px;
      color: gray;
    }
  }

  .dropdown-menu-bar {
    display: inline-flex;
    height: 26px;
    line-height: 26px;
  }

  .last-updated {
    color: @color-text--light;
    padding: 0 @padding-component--tight;
  }
}
