#el-editor-container .editor {
  display: none;
  position: absolute;
  top: 0;
  left: 400px;
  right: 0;
  bottom: 0;

  &.active {
    display: block;
  }
}

.sidebar-collapsed #el-editor-container {
  left: 200px;
}

.fileview.uneditable {
  padding: @padding-component--tight;

  audio, video {
    width: 400px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
