.favicon-picker {

  .favicon-picker-header {
    display: flex;
    border-bottom: 1px solid #ddd;

    .filter {
      padding: 5px;

      input {
        padding: 0 10px;
        width: 480px;
      }
    }
  }

  .favicon-picker-body {
    width: 490px;
    max-height: 300px;
    overflow-y: auto;

    .text {
      padding: 10px;
    }
  }

  .favicon-picker-footer {
    display: flex;
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    align-items: center;

    .label {
      color: #555;
      font-weight: 500;
    }
    .ctrls {
      margin-left: auto;
    }
  }

  .favicon-picker-heading {
    border-bottom: 1px dotted #ccc;
    margin: 0 10px;
    font-size: 10px;

    &:first-child {
      margin-top: 10px;
    }
  }

  .favicon-picker-icons {
    display: grid;
    padding: 10px;
    grid-gap: 6px;
    grid-template-columns: repeat(14, 1fr);

    .icon {
      width: 24px;
      height: 24px;
      padding: 4px;
      border-radius: 3px;
      text-align: center;
      cursor: pointer;

      img {
        width: 16px;
        height: 16px;
        cursor: pointer;
      }

      &:hover {
        background: #eaeaea;
      }

      &.selected {
        background: @blue;
      }
    }
  }
}