.files-list-sidebar {
  .preview {
    text-align: center;
    padding: 15px;

    .icon-wrapper {
      margin: 40px 0 20px;

      svg {
        width: 40px;
        height: 40px;
        transform: scale(1.5);
      }
    }

    .text,
    img,
    video,
    audio {
      width: 100%;
      border: 1px solid #ccc;
    }

    .text {
      padding: 2px 5px;
      text-align: left;
      white-space: pre;
      font-size: 0.6rem;
      max-height: 70vh;
      overflow: hidden;
    }
  }

  .metadata {
    padding: 15px;
    color: rgba(0,0,0,.75);

    .name {
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 10px;
      word-wrap: break-word;
    }

    td {
      padding: 0;

      &.label {
        width: 40%;
        font-weight: 500;
        text-align: right;
        color: #aaa;
        padding-right: 8px;
      }
    }
  }
}