@import "../../photon.min.less";

@import "../../base/reset.less";
@import "../../utils/decorators";
@import "../../utils/flex";

.files-sidebar {
  &:extend(.hide-scrollbar all);
  position: fixed;
  left: 200px;
  top: 0;
  width: 200px;
  height: 100%;
  background: @background-menu;
  border-right: 1px solid @border-menu;

  .header {
    &:extend(.flex);
    flex-wrap: nowrap !important;
    height: 30px;
    justify-content: space-between;
    border-bottom: 1px solid @border-menu;

    .btn-bar {
      flex-wrap: nowrap;
    }

    .btn {
      height: 100%;
      border: none;
      background: none;
    }

    .btn.collapse {
      font-size: 13px;
      border-right: 1px solid @border-menu;
    }
  }

  .project-title {
    line-height: 30px;
    flex: 1;
    padding-left: @padding-component--tight;

    a.title {
      max-width: 140px;
      display: inline-block;
      &:extend(.overflow-ellipsis);
    }
  }

  .tooltip {
    line-height: 30px;
    padding: 0 8px;

    .tooltip-content {
      // speed up the tooltip a bit
      transition-delay: 0.25s;
    }
  }

  .fill {
    flex: 1;
  }

  .files-list {
    &:extend(.hide-scrollbar all);
    &:extend(.vertical-scroll);
    height: 100%;
    padding: 0 0 10px;
  }
}

.sidebar-collapsed .files-sidebar {
  left: 0px;
}