@import "../../base/spacing";
@import "../../utils/flex";
@import "../../components/link";

.files-list-view {
  &:extend(.flex);
  flex-wrap: nowrap;

  .files-list {
    flex: 1;
    min-width: 400px;
    max-width: 500px;
    overflow-y: auto;
    border-right: 1px solid #eee;

    * {
      -webkit-user-select: none;
    }
  }

  .files-list-sidebar {
    flex: 0 0 300px;
    width: 300px;
    overflow-y: auto;
  }
}

.files-list {
   overflow-y: auto;

  .item {
    &:extend(.flex);
    flex-wrap: nowrap;
    white-space: pre;
    align-items: center;
    position: relative;
    padding: 0 15px 0 50px;
    height: 24px;

    .caret {
      position: absolute;
      font-size: 10px;
      color: #bbb;
      display: inline-block;
      cursor: pointer;
    }

    .icon {
      position: relative;
      top: 1px;
      width: 15px;
      height: 15px;
      margin-right: 2px;

      &.file-o {
        background: none;

        * {
          stroke: #ddd;
          fill: #fff;
        }
      }

      &.folder {
        top: 3px;
        width: 17px;
        height: 17px;

        * {
          // fill: rgba(0,0,0,.15);
          // stroke: none;
        }
      }
    }

    .name {
      &:extend(.overflow-ellipsis);
      max-width: 75%;
      color: rgba(0,0,0,.9);
    }

    .size, .updated {
      color: @color-text;
      font-size: .73rem;
      color: rgba(0,0,0,.5);
      font-weight: 500;
    }

    .size {
      margin: 0 @margin-icon;
    }

    .updated {
      flex: 0 0 75px;
      margin-left: auto; // right align the .updated element
      text-align: right;
    }

    &.selected {
      background: #008dfd;
      -webkit-font-smoothing: antialiased;

      .name {
        color: #fff;
      }
      .size, .updated {
        color: rgba(255,255,255, 0.75);
      }
    }
  }
}
