@import "../../base/spacing";
@import "../../utils/flex";
@import "../../components/link";
@import "./files-browser/breadcrumbs";

.files-browser {
  &:extend(.flex);
  flex-wrap: nowrap;

  .body {
    border: 1px solid #eaeaea;
    border-bottom: 0;
    border-radius: 2px;
  }

  .files-tree-view.empty {

    .body {
      border: 0;
    }
  }

  .files-browser-header {
    &:extend(.flex);
    align-items: center;
    margin-bottom: 10px;

    .actions {
      margin-left: auto;

      .dropdown-items {
        width: 160px;
      }
    }
  }
}

@import "./files-browser/files-tree-view";