@import "../../base/spacing";
@import "../../utils/flex";
@import "../../components/link";

.files-columns-view {
  &:extend(.flex);
  flex-wrap: nowrap;
  background: #fff;
  height: 100vh;
  overflow-x: auto;

  .column {
    min-width: 200px;
    max-width: 500px;
    height: 100%;
    overflow-y: auto;
    background: #fff;
    border-right: 1px solid #eee;
    padding: 5px 0;

    &.empty {
      padding: 10px;
    }
  }

  .files-list {
    flex: 1;
    min-width: 400px;
    max-width: 500px;
    height: 100%;
    overflow-y: auto;
    background: #fff;
    border-right: 1px solid #eee;
  }

  .column > .item {
    display: flex;
    align-items: center;
    font-size: 11.75px;
    height: 18px;
    padding: 0 7px;
    margin-bottom: 2px;

    .caret {
      color: #bbb;
      font-size: 9px;
      margin-left: auto;
    }

    &.folder {
      cursor: pointer;
    }

    .icon {
      width: 12px;
      height: 12px;
      margin-right: 7px;
      flex: 0 0 12px;

      &.box {
        width: 20px;
        height: 20px;
        flex: 0 0 20px;
      }

      &.trash {
        width: 11px;
        height: 11px;
        flex: 0 0 11px;
      }

      &.file-o {
        background: none;

        * {
          stroke: #ddd;
          fill: #fff;
        }
      }

      &.folder {
        width: 17px;
        height: 17px;
        flex: 0 0 17px;
      }
    }

    .name {
      white-space: pre;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .size, .updated {
      color: @color-text;
      font-size: .73rem;
      color: rgba(0,0,0,.5);
      font-weight: 500;
    }

    .size {
      margin: 0 @margin-icon;
    }

    .updated {
      margin-left: auto; // right align the .updated element
    }

    &.active {
      background: @blue;
      color: #fff;
      -webkit-font-smoothing: antialiased;
      font-weight: 600;

      .caret {
        color: #fff;
        font-weight: 900;
      }
    }
  }
}
