@level-color-silly: #9C27B0;
@level-color-debug: #2196F3;
@level-color-verbose: #00BCD4;
@level-color-info: #4CAF50;
@level-color-warn: #FFC107;
@level-color-error: #E91E63;

.logger {
  .controls {
    position: sticky;
    display: flex;
    top: 0;
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid;
    margin-bottom: 10px;

    input {
      display: none; // because of a rendering error in Electron 3, we're using icons to manually present the checkbox
    }

    .spacer {
      flex: 1;
    }

    label {
      margin-right: 15px;
      margin-bottom: 0;
      font-weight: normal;
    }
  }

  .logger-row {
    display: flex;
    padding: 4px 8px;
    margin-bottom: 2px;

    &.level-silly {
      background: #fdf3ff;
      color: @level-color-silly;
    }
    &.level-debug {
      background: #e6f4ff;
      color: @level-color-debug;
    }
    &.level-verbose {
      background: #e7fcff;
      color: @level-color-verbose;
    }
    &.level-info {
      background: #f1f9f1;
      color: @level-color-info;
    }
    &.level-warn {
      background: #fff3cc;
      color: @level-color-warn;
    }
    &.level-error {
      background: #fddee9;
      color: @level-color-error;
    }
    &:hover {
      background: #fff;
    }

    .msg {
      flex: 1;
      color: #111;
    }

    .level,
    .category,
    .subcategory,
    .timestamp {
      white-space: nowrap;
      overflow: hidden;
    }

    .level,
    .category {
      flex: 0 0 70px;
    }

    .subcategory {
      flex: 0 0 120px;
    }

    .timestamp {
      flex: 0 0 170px;
    }

    .level {
      font-weight: 500;
    }

    small {
      color: rgba(0,0,0,.5);
    }
  }
}