@import "../../base/reset.less";
@import "../../base/colors.less";
@import "../../utils/decorators";

#new-file-popup {
  position: fixed;
  top: 30px;
  left: 400px;
  z-index: 10;
  font-style: normal;
}

.sidebar-collapsed #new-file-popup {
  left: 200px;
}

.new-file-form {
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0,0,0,.15);
  padding: 0.5em 1em 1em;
  border: 1px solid @border-menu;
  border-left: 0; // no left border because this lines up against an existing border

  input {
    width: 300px;
  }

  .new .btn {
    height: 28px;
  }

  .upload .btn {
    margin-right: 10px;
  }
}