@import "/css/font-awesome.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
  --system-font: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Ubuntu, Cantarell, "Oxygen Sans", "Helvetica Neue", sans-serif;
  --code-font: Consolas, 'Lucida Console', Monaco, monospace;
  font-family: var(--system-font);
  font-size: 12px;
  --border-color: #d4d7dc;
}

code {
  font-family: var(--code-font);
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  outline-color: transparent;
  border: none;
}
