.feed {
  background: #fff;

  a {
    text-decoration: none;
    color: #0091ff;

    &:hover {
      text-decoration: underline;
    }
  }

  .feed-entry {
    position: relative;
    padding: 10px 16px 10px 32px;
    display: flex;

    &:first-child {
      border-top: 1px solid #eee;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 15px;
      height: 100%;
      width: 4px;
      background: #f1f1f1;
    }

    &:after {
      content: '';
      position: absolute;
      left: 11px;
      top: 15px;
      height: 8px;
      width: 8px;
      border-radius: 12px;
      background: #ccc;
      border: 2px solid #ffffff;
    }

    .favicon {
      position: relative;
      top: 2px;
      margin-right: 1px;
    }

    .fe-message {
      flex: 1;
    }
    .fe-version, .fe-site {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .fe-version {
      color: #444;
      flex: 0 0 60px;
    }
    .fe-site {
      flex: 0 0 120px;
    }
    .fe-date {
      color: #aaa;
    }
  }

  .feed-loadmore {
    margin: 10px;
  }
}