.feed {
  background: #fff;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: blue;
      text-decoration: underline;
    }
  }

  .feed-entry {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    padding: 18px 16px;

    .favicon {
      position: relative;
      top: 2px;
      margin-right: 1px;
    }

    .fe-site {
      font-weight: bold;
    }
    .fe-date {
      float: right;
      color: gray;
    }

    .fe-message {
      font-size: 15px;
      font-family: sans-serif;
    }
  }
}