/* insert your custom CSS here */

body {
  background: #fafafa;
}

main {
  width: 400px;
  height: 140px;
  border: 2px dashed gray;
  margin: 30px auto;
  text-align: center;
  padding: 40px;
  background: #fff;
}