.editor-general-help {
  padding: 30px;

  h3 {
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 1;
  }

  .quick-links {
    display: flex;

    .col {
      flex: 1;
      max-width: 400px;
      margin-right: 10px;
    }
  }

  .quick-link {
    margin-bottom: 30px;

    div {
      color: rgba(0,0,0,.65);
    }
  }
}