@import "../../../base/colors.less";

.editor-sidebar {
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
  text-overflow: ellipsis;
  padding-left: 4px;
  padding-top: 4px;

  &::-webkit-scrollbar {
    display: none;
  }

  .site-info-btn {
    text-align: left;
    padding: 0 5px;
    background: transparent;
    font-weight: 500;

    img {
      width: 16px;
      height: 16px;
      vertical-align: middle;
      position: relative;
      top: -2px;
    }

    &:hover {
      color: @blue;
      background: transparent;
    }
  }

  .file-tree-header {
    padding: 3px;
  }

  .version-picker-ctrl {
    position: initial; // due to overflow hidden, we do dropdowns in the sidebar with absolute positioning

    button {
      color: rgba(0, 0, 0, 0.75);
      background: rgba(0,0,0,.05);
      padding: 0 10px;
      border-radius: 4px;
      height: 24px;
      line-height: 22px;
      font-size: 13px;
      border: 0;

      &:hover {
        color: @blue;
      }
    }

    .dropdown-items {
      left: 4px;
      top: 38px;
    }
  }

  .file-tree {
    margin-bottom: 10px;
  }

  .subtree {
    padding-left: 20px;
  }

  .revision-indicator {
    border-radius: 50%;
    margin-left: 4px;
    margin-right: 4px;
  }  

  .filetree {
    font-size: 13px;
    color: #444;
    flex: 1;

    * {
      cursor: pointer;
    }
  }

  .item {
    display: flex;
    align-items: center;
    padding: 4px 10px;
    cursor: pointer;
    white-space: nowrap;

    i {
      color: #444;

      &.fa-caret-down {
        transform: rotate(-45deg);
      }
    }

    i + .name {
      margin-left: 5px;
    }

    .name {
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:hover {
      background: #ededf0;
    }

    &.root {
      background: transparent;
      padding: 5px 10px;
      margin: 0 0 4px;
      border-bottom: 1px solid #ddd;
      cursor: default;

      .name {
        color: rgba(0,0,0,.75);
      }

      .hover-ctrls {
        display: block; // always show the hover controls on the root
      }
    }

    &.deleted {
      color: #bf8989;
      font-style: italic;
      i { color: #bf8989; }
    }

    &.selected {
      background: #4766ff;
      color: #fff;
    }
  }

  .new-node {
    input {
      width: 98%;
    }
  }

  .uncommitted-changes {
    .title {
      padding: 5px 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .btn {
      text-align: left;

      .fas {
        margin-right: 2px;
      }
    }
  }
}

#editor-sidebar-drag-handle {
  width: 4px;
  cursor: col-resize;

  &:hover {
    background: rgba(0,0,0,.04);
  }

  i {
    display: none;
    position: relative;
    top: 40vh;
    font-size: 11px;
    color: gray;
    left: 2px;
  }

  &.wide {
    width: 8px;

    i {
      display: inline;
    }
  }
}