@import "beaker://app-stdlib/css/common.css";
@import "beaker://assets/font-awesome.css";

body {
  font-size: 12px;
  background: #223;
  --border-color: #d4d7dc;
  border-right: 1px solid #889;
}

#monaco-editor {
  height: calc(100vh - 28px);
  margin-left: 200px;
}

#monaco-editor.fullwidth {
  margin-left: 0;
}
