.link {
  color: #295fcb;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  padding: 0;
}
.link:hover {
  text-decoration: underline;
}
.link.disabled {
  color: #999999;
  cursor: default;
}
.link.disabled:hover {
  text-decoration: none;
}
.builtin-wrapper.history-wrapper .ll-row:not(:last-of-type) {
  border-bottom: 1px solid #e6e6e6;
  border-top: 0;
}
