@import "../base/colors";
@import "../base/spacing";
@import "../components/dropdown";
@import "../components/context-menu";
@import "../components/toast";
@import "../components/dat-cache";
@import "../components/logger";

.builtin-wrapper.settings-wrapper {

  ul {
    margin-bottom: 1em;
  }

  .builtin-sidebar {
    // slightly larger nav
    .builtin-pages-nav {
      position: relative;
      left: -21px;
      font-size: 16px;
    }
    .nav-item {
      font-size: 15px;

      @media (min-width: 1050px) {
        margin-bottom: 5px;
      }

      &.active {
        font-weight: normal;
      }
    }
  }

  .subtitle-heading {
    margin-bottom: 10px;
  }

  h3 {
    margin-bottom: 5px;
    font-size: inherit;
    font-weight: 500;
  }

  .section {
    padding: 20px 0;
    margin: 0 20px;
    border-top: 1px solid #eee;

    &.default-browser {

      .toggle {
        justify-content: flex-end;
        width: 100px;

        .text {
          width: 45px;
        }
      }
    }

    &.default-to-dat {
      .toggle {
        justify-content: flex-end;

        .text {
          margin-right: 10px;
        }
      }
    }

    &.analytics {
      .toggle {
        justify-content: flex-end;
        .text {
          width: 110px;
        }
      }
    }
  }

  .view {
    background: none;
    border: 0;
    padding: 0;
    
    & > .section {
      padding: 15px 20px;
      margin: 0 0 10px;
      border: 1px solid #e6e6e6;
      background: #fff;
    }
  }

  .section-group {
    display: flex;

    .section {
      flex: 1;

      &:first-of-type {
        margin-right: 0;
        border-right: 1px solid #e6e6e6;
      }
      &:last-of-type {
        margin-left: 0;
        padding-left: 20px;
      }
    }
  }

  .auto-updater {

    .spinner {
      display: inline-block;
    }

    input {
      height: auto;
    }

    .btn {
      margin-right: 5px;
    }

    .up-to-date {
      color: shade(@green, 17%);
    }
  }


  &.protocols a {
    margin-left: 5px;
  }

  .on-startup {

    .radio-group {
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      justify-content: start;
      grid-gap: 0 10px;
      margin-left: 0;

      input[type="radio"] {
        margin: 0;
      }
    }

    label {
      font-weight: 400;
      margin-bottom: 0;
    }
  }

  .dat-bandwidth {
    .inputs {
      &:extend(.flex);
      & > div {
        margin-right: 5px;
      }
      label {
        display: block;
      }
    }
  }

  .default-dat-ignore {
    textarea {
      width: 500px;
      height: 140px;
      padding: 4px 7px;
    }
  }

  .dat-cache {
    .title {
      max-width: none;
    }
  }

  &.help {

    a {
      text-decoration: none;
    }
  }

  .default-application {
    display: flex;
    margin-bottom: 10px;

    a,
    .btn,
    .domain {
      height: 36px;
      line-height: 34px;
    }

    .group {
      display: flex;
      margin-right: 10px;

      & > * {
        border-radius: 0;
        border-right-width: 0;
        padding: 0 10px;
        height: 36px;
      }

      & > :first-child {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }

      & > :last-child {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-right-width: 1px;
      }

      & > input:focus {
        border-right-width: 1px;
        box-shadow: none;

        & + * {
          border-left-width: 0;
        }
      }

      .domain {
        border: 1px solid #d9d9d9;
        border-right: 0;
        width: 80px;
        color: #666;
      }

      .value {
        width: 280px;
        text-overflow: ellipsis;
        border: 1px solid #d9d9d9;
        border-left: 0;
        border-right: 0;
      }
    }
  }

  .more-info {
    display: flex;
    color: rgba(0,0,0,0.6);
    margin: 30px 0;

    i {
      margin: 7px 16px;
    }

    & > div {
      flex: 1;
      max-width: 36em;
    }

    h4 {
      margin-bottom: 10px;
    }
  }

  .user {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    align-items: center;

    &:last-child {
      border-bottom: 1px solid #ddd;
    }

    .user-thumb {
      width: 90px;

      img {
        border-radius: 50%;
        width: 70px;
        height: 70px;
        object-fit: cover;
      }
    }

    .user-title {
      font-size: 16px;

      small {
        color: gray;
      }
    }

    .user-ctrls {
    }
  }
}

ul.settings-section {
  margin-left: @padding-component--tight;
}
