.vertical-scroll {
  overflow-y: scroll;
}
.shadow {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
}
.dropdown-shadow,
.dropdown-items {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}
.dropdown-shadow-subtle,
.dropdown-items.subtle-shadow {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
}
.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hidden {
  display: none !important;
}
.dropdown {
  position: relative;
}
.dropdown i {
  cursor: pointer;
}
.dropdown.open .toggleable:not(.primary) {
  background: #dadada;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  border-color: transparent;
  outline: 0;
}
.toggleable-container .dropdown-items {
  display: none;
}
.toggleable-container.hover:hover .dropdown-items,
.toggleable-container.open .dropdown-items {
  display: block;
}
.dropdown-items {
  width: 270px;
  position: absolute;
  right: 0px;
  z-index: 3000;
  background: #fff;
  border: 1px solid #dadada;
  border-radius: 4px;
}
.dropdown-items .section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 0;
}
.dropdown-items .section-header {
  padding: 2px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-items .section-header.light {
  color: #b8b8b8;
  font-weight: 500;
}
.dropdown-items.thin {
  width: 170px;
}
.dropdown-items.wide {
  width: 400px;
}
.dropdown-items.compact .dropdown-item {
  padding: 2px 15px;
  border-bottom: 0;
}
.dropdown-items.compact .description {
  margin-left: 0;
}
.dropdown-items.compact hr {
  margin: 5px 0;
}
.dropdown-items.roomy .dropdown-item {
  padding: 10px 15px;
}
.dropdown-items.no-border .dropdown-item {
  border-bottom: 0;
}
.dropdown-items.center {
  left: 50%;
  transform: translateX(-50%);
}
.dropdown-items.left {
  right: initial;
  left: 0;
}
.dropdown-items.over {
  top: 0;
}
.dropdown-items.top {
  bottom: calc(100% + 5px);
}
.dropdown-items.with-triangle:before {
  content: '';
  position: absolute;
  top: -8px;
  right: 10px;
  width: 12px;
  height: 12px;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}
.dropdown-items.with-triangle.left:before {
  left: 10px;
}
.dropdown-items.with-triangle.center:before {
  left: 43%;
}
.dropdown-title {
  border-bottom: 1px solid #eee;
  padding: 2px 8px;
  font-size: 11px;
  color: gray;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 5px 15px;
  border-bottom: 1px solid #eee;
}
.dropdown-item.disabled {
  opacity: 0.25;
}
.dropdown-item .fa-check-square {
  color: #2864dc;
}
.dropdown-item .fa-check-square,
.dropdown-item .fa-square-o {
  font-size: 14px;
}
.dropdown-item .fa-check {
  font-size: 11.5px;
}
.dropdown-item.no-border {
  border-bottom: 0;
}
.dropdown-item:hover:not(.no-hover) {
  background: #eee;
  cursor: pointer;
}
.dropdown-item:hover:not(.no-hover) i:not(.fa-check-square) {
  color: #333;
}
.dropdown-item:hover:not(.no-hover) .description {
  color: #333;
}
.dropdown-item:hover:not(.no-hover).disabled {
  background: inherit;
  cursor: default;
}
.dropdown-item .fa,
.dropdown-item i {
  display: inline-block;
  width: 20px;
  color: rgba(0, 0, 0, 0.65);
}
.dropdown-item img {
  display: inline-block;
  width: 16px;
  position: relative;
  top: 3px;
  margin-right: 6px;
}
.dropdown-item .btn .fa {
  color: inherit;
}
.dropdown-item .label {
  font-weight: 500;
  margin-bottom: 3px;
}
.dropdown-item .description {
  color: #707070;
  margin: 0;
  margin-left: 23px;
  margin-bottom: 3px;
  line-height: 1.5;
}
.dropdown-item .description.small {
  font-size: 12.5px;
}
.dropdown-item:first-of-type {
  border-radius: 2px 2px 0 0;
}
.dropdown-item:last-of-type {
  border-radius: 0 0 2px 2px;
}
.context-menu {
  position: absolute;
  z-index: 10000;
}
.context-menu .dropdown-items:not(.custom) {
  width: auto;
  white-space: nowrap;
}
.context-menu .dropdown-items:not(.custom) .dropdown-item {
  padding-right: 30px;
}
.toast-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 20000;
  transition: opacity 0.1s ease;
}
.toast-wrapper.hidden {
  opacity: 0;
}
.toast {
  position: relative;
  min-width: 350px;
  max-width: 450px;
  background: #ddd;
  margin: 0;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
}
.toast.error {
  padding-left: 38px;
}
.toast.success {
  padding-left: 48px;
}
.toast.success:before,
.toast.error:before {
  position: absolute;
  left: 18px;
  top: 5px;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Cantarell, "Oxygen Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.toast.primary {
  background: #2864dc;
}
.toast.success {
  background: #26b33e;
}
.toast.success:before {
  content: '✓';
}
.toast.error {
  background: #c72e25;
}
.toast.error:before {
  content: '!';
}
.toast .toast-btn {
  position: absolute;
  right: 15px;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}
.dat-cache {
  margin: 0 -15px;
}
.dat-cache.loading {
  margin: 0;
}
.dat-cache .dat-cache-actions {
  padding: 0 10px 10px;
}
.dat-cache .heading {
  align-items: center;
  padding: 6px 15px;
  color: #333;
  font-size: 11px;
}
.dat-cache .heading .title {
  flex: 1;
}
.dat-cache .heading .peers,
.dat-cache .heading .size,
.dat-cache .heading .mtime {
  width: 100px;
}
.dat-cache .heading .buttons {
  width: 110px;
}
.dat-cache .heading a {
  color: #333 !important;
  cursor: pointer;
}
.dat-cache .ll-row.archive {
  border-right: 0;
  border-left: 0;
}
.dat-cache .ll-row.archive .title {
  flex: 1;
}
.dat-cache .ll-row.archive .peers,
.dat-cache .ll-row.archive .size,
.dat-cache .ll-row.archive .mtime {
  color: rgba(0, 0, 0, 0.5);
  flex: 0 0 100px;
  white-space: nowrap;
  overflow: hidden;
}
.dat-cache .ll-row.archive .buttons {
  width: 110px;
  overflow: visible;
  opacity: 1;
}
.dat-cache .ll-row.archive .buttons .btn {
  margin-left: 5px;
}
.dat-cache .ll-row.archive .buttons .btn.copy-url,
.dat-cache .ll-row.archive .buttons .btn.remove-workspace,
.dat-cache .ll-row.archive .buttons .btn.remove-archive {
  opacity: 0;
  border: 0;
  transition: 0.2s ease opacity;
  margin-left: -3px;
  color: rgba(0, 0, 0, 0.65);
}
.dat-cache .ll-row.archive .buttons .btn.remove-workspace,
.dat-cache .ll-row.archive .buttons .btn.remove-archive {
  color: #cc2f26;
}
.logger .controls {
  position: sticky;
  top: 0;
  background: #fff;
}
.logger .standard-controls {
  display: flex;
  align-items: center;
  color: #555;
  padding: 6px 0;
}
.logger .standard-controls input {
  display: none;
}
.logger .standard-controls .spacer {
  flex: 1;
}
.logger .standard-controls .divider {
  margin-left: 20px;
  margin-right: 5px;
  border-right: 1px solid #ccc;
  height: 14px;
}
.logger .standard-controls .divider.thin {
  margin-left: 5px;
}
.logger .standard-controls label {
  margin-left: 15px;
  margin-bottom: 0;
  font-weight: normal;
}
.logger .standard-controls .status {
  margin-left: 8px;
}
.logger .logger-row td {
  padding: 4px;
  border-top: 1px solid #fff;
}
.logger .logger-row.purple {
  background: #fdf3ff;
  color: #9C27B0;
}
.logger .logger-row.blue {
  background: #e6f4ff;
  color: #2196F3;
}
.logger .logger-row.cyan {
  background: #e7fcff;
  color: #00BCD4;
}
.logger .logger-row.green {
  background: #f1f9f1;
  color: #4CAF50;
}
.logger .logger-row.yellow {
  background: #fff3cc;
  color: #FFC107;
}
.logger .logger-row.red {
  background: #fddee9;
  color: #E91E63;
}
.logger .logger-row:hover {
  background: #fff;
}
.logger .logger-row .msg {
  color: #111;
}
.logger .logger-row .level,
.logger .logger-row .category,
.logger .logger-row .subcategory,
.logger .logger-row .timestamp {
  white-space: nowrap;
}
.logger .logger-row .level {
  font-weight: 500;
}
.logger .logger-row small {
  color: rgba(0, 0, 0, 0.5);
}
.builtin-wrapper.settings-wrapper ul {
  margin-bottom: 1em;
}
.builtin-wrapper.settings-wrapper .builtin-sidebar .builtin-pages-nav {
  position: relative;
  left: -21px;
  font-size: 16px;
}
.builtin-wrapper.settings-wrapper .builtin-sidebar .nav-item {
  font-size: 15px;
}
@media (min-width: 1050px) {
  .builtin-wrapper.settings-wrapper .builtin-sidebar .nav-item {
    margin-bottom: 5px;
  }
}
.builtin-wrapper.settings-wrapper .builtin-sidebar .nav-item.active {
  font-weight: normal;
}
.builtin-wrapper.settings-wrapper .subtitle-heading {
  margin-bottom: 10px;
}
.builtin-wrapper.settings-wrapper h3 {
  margin-bottom: 5px;
  font-size: inherit;
  font-weight: 500;
}
.builtin-wrapper.settings-wrapper .section {
  padding: 20px 0;
  margin: 0 20px;
  border-top: 1px solid #eee;
}
.builtin-wrapper.settings-wrapper .section.default-browser .toggle {
  justify-content: flex-end;
  width: 100px;
}
.builtin-wrapper.settings-wrapper .section.default-browser .toggle .text {
  width: 45px;
}
.builtin-wrapper.settings-wrapper .section.default-to-dat .toggle {
  justify-content: flex-end;
}
.builtin-wrapper.settings-wrapper .section.default-to-dat .toggle .text {
  margin-right: 10px;
}
.builtin-wrapper.settings-wrapper .section.analytics .toggle {
  justify-content: flex-end;
}
.builtin-wrapper.settings-wrapper .section.analytics .toggle .text {
  width: 110px;
}
.builtin-wrapper.settings-wrapper .view {
  background: none;
  border: 0;
  padding: 0;
}
.builtin-wrapper.settings-wrapper .view > .section {
  padding: 15px 20px;
  margin: 0 0 10px;
  border: 1px solid #e6e6e6;
  background: #fff;
}
.builtin-wrapper.settings-wrapper .section-group {
  display: flex;
}
.builtin-wrapper.settings-wrapper .section-group .section {
  flex: 1;
}
.builtin-wrapper.settings-wrapper .section-group .section:first-of-type {
  margin-right: 0;
  border-right: 1px solid #e6e6e6;
}
.builtin-wrapper.settings-wrapper .section-group .section:last-of-type {
  margin-left: 0;
  padding-left: 20px;
}
.builtin-wrapper.settings-wrapper .auto-updater .spinner {
  display: inline-block;
}
.builtin-wrapper.settings-wrapper .auto-updater input {
  height: auto;
}
.builtin-wrapper.settings-wrapper .auto-updater .btn {
  margin-right: 5px;
}
.builtin-wrapper.settings-wrapper .auto-updater .up-to-date {
  color: #3fb453;
}
.builtin-wrapper.settings-wrapper.protocols a {
  margin-left: 5px;
}
.builtin-wrapper.settings-wrapper .on-startup .radio-group {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: start;
  grid-gap: 0 10px;
  margin-left: 0;
}
.builtin-wrapper.settings-wrapper .on-startup .radio-group input[type="radio"] {
  margin: 0;
}
.builtin-wrapper.settings-wrapper .on-startup label {
  font-weight: 400;
  margin-bottom: 0;
}
.builtin-wrapper.settings-wrapper .dat-bandwidth .inputs > div {
  margin-right: 5px;
}
.builtin-wrapper.settings-wrapper .dat-bandwidth .inputs label {
  display: block;
}
.builtin-wrapper.settings-wrapper .default-dat-ignore textarea {
  width: 500px;
  height: 140px;
  padding: 4px 7px;
}
.builtin-wrapper.settings-wrapper .dat-cache .title {
  max-width: none;
}
.builtin-wrapper.settings-wrapper.help a {
  text-decoration: none;
}
.builtin-wrapper.settings-wrapper .default-application {
  display: flex;
  margin-bottom: 10px;
}
.builtin-wrapper.settings-wrapper .default-application a,
.builtin-wrapper.settings-wrapper .default-application .btn,
.builtin-wrapper.settings-wrapper .default-application .domain {
  height: 36px;
  line-height: 34px;
}
.builtin-wrapper.settings-wrapper .default-application .group {
  display: flex;
  margin-right: 10px;
}
.builtin-wrapper.settings-wrapper .default-application .group > * {
  border-radius: 0;
  border-right-width: 0;
  padding: 0 10px;
  height: 36px;
}
.builtin-wrapper.settings-wrapper .default-application .group > :first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.builtin-wrapper.settings-wrapper .default-application .group > :last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right-width: 1px;
}
.builtin-wrapper.settings-wrapper .default-application .group > input:focus {
  border-right-width: 1px;
  box-shadow: none;
}
.builtin-wrapper.settings-wrapper .default-application .group > input:focus + * {
  border-left-width: 0;
}
.builtin-wrapper.settings-wrapper .default-application .group .domain {
  border: 1px solid #d9d9d9;
  border-right: 0;
  width: 80px;
  color: #666;
}
.builtin-wrapper.settings-wrapper .default-application .group .value {
  width: 280px;
  text-overflow: ellipsis;
  border: 1px solid #d9d9d9;
  border-left: 0;
  border-right: 0;
}
.builtin-wrapper.settings-wrapper .more-info {
  display: flex;
  color: rgba(0, 0, 0, 0.6);
  margin: 30px 0;
}
.builtin-wrapper.settings-wrapper .more-info i {
  margin: 7px 16px;
}
.builtin-wrapper.settings-wrapper .more-info > div {
  flex: 1;
  max-width: 36em;
}
.builtin-wrapper.settings-wrapper .more-info h4 {
  margin-bottom: 10px;
}
.builtin-wrapper.settings-wrapper .user {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  align-items: center;
}
.builtin-wrapper.settings-wrapper .user:last-child {
  border-bottom: 1px solid #ddd;
}
.builtin-wrapper.settings-wrapper .user .user-thumb {
  width: 90px;
}
.builtin-wrapper.settings-wrapper .user .user-thumb img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.builtin-wrapper.settings-wrapper .user .user-title {
  font-size: 16px;
}
.builtin-wrapper.settings-wrapper .user .user-title small {
  color: gray;
}
ul.settings-section {
  margin-left: 10px;
}
