*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a[href],
input[type='submit'],
input[type='image'],
label[for],
select,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  background: none;
  outline-color: transparent;
  border: none;
}
.system-font,
body,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Cantarell, "Oxygen Sans", "Helvetica Neue", sans-serif;
}
.code-font,
code {
  font-family: Consolas, 'Lucida Console', Monaco, monospace;
}
code {
  font-style: normal !important;
}
.red-x {
  position: relative;
}
.red-x:after {
  content: 'x';
  display: block;
  position: absolute;
  top: -4px;
  left: 1px;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: red;
  -webkit-text-stroke: 1px #fff;
}
.red-x.fa-rss:after {
  width: 14px;
}
textarea {
  line-height: 1.4;
}
input,
textarea {
  height: 30px;
  padding: 0 7px;
  border-radius: 4px;
  color: rgba(51, 51, 51, 0.95);
  border: 1px solid #d9d9d9;
}
input[type="checkbox"],
textarea[type="checkbox"],
input[type="radio"],
textarea[type="radio"],
input[type="range"],
textarea[type="range"] {
  padding: 0;
}
input[type="checkbox"]:focus,
textarea[type="checkbox"]:focus,
input[type="radio"]:focus,
textarea[type="radio"]:focus,
input[type="range"]:focus,
textarea[type="range"]:focus {
  box-shadow: none;
}
input[type="radio"],
textarea[type="radio"] {
  width: 14px;
  height: 14px;
  outline: none;
  -webkit-appearance: none;
  border-radius: 50%;
  cursor: pointer;
  transition: border 0.1s ease;
}
input[type="radio"]:hover,
textarea[type="radio"]:hover {
  border: 1px solid #2864dc;
}
input[type="radio"]:checked,
textarea[type="radio"]:checked {
  border: 4.5px solid #2864dc;
}
input[type="file"],
textarea[type="file"] {
  padding: 0;
  border: 0;
  line-height: 1;
}
input[type="file"]:focus,
textarea[type="file"]:focus {
  border: 0;
  box-shadow: none;
}
input.roomy,
textarea.roomy {
  padding: 7px 9px;
}
input:focus,
textarea:focus,
select:focus {
  outline: 0;
  border: 1px solid rgba(41, 95, 203, 0.8);
  box-shadow: 0 0 0 2px rgba(41, 95, 203, 0.2);
}
input.error,
textarea.error,
select.error {
  border: 1px solid rgba(209, 48, 39, 0.75);
}
input.error:focus,
textarea.error:focus,
select.error:focus {
  box-shadow: 0 0 0 2px rgba(204, 47, 38, 0.15);
}
input.nofocus:focus,
textarea.nofocus:focus,
select.nofocus:focus {
  outline: 0;
  box-shadow: none;
  border: initial;
}
input.inline {
  height: auto;
  border: 1px solid transparent;
  border-radius: 0;
  background: transparent;
  cursor: text;
  padding: 3px 5px;
  line-height: 1;
}
input.inline:focus,
input.inline:hover {
  border: 1px solid #ccc;
  box-shadow: none;
}
input.inline:focus {
  background: #fff;
}
input.underline {
  width: 100%;
  height: auto;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  cursor: text;
  line-height: 1;
}
.input-file-picker {
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  color: #707070;
}
.input-file-picker span {
  flex: 1;
  padding-left: 3px;
}
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
}
label {
  font-weight: 500;
}
input[disabled][data-tooltip],
label[disabled][data-tooltip] {
  cursor: help;
}
input[disabled][data-tooltip] *,
label[disabled][data-tooltip] * {
  cursor: help;
}
.toggle {
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 10px;
  cursor: pointer;
  overflow: initial;
}
.toggle.unweirded {
  flex-direction: row;
  justify-content: initial;
}
.toggle.unweirded .switch {
  margin-right: 10px;
}
.toggle * {
  cursor: pointer;
}
.toggle.disabled {
  cursor: default;
}
.toggle.disabled * {
  cursor: default;
}
.toggle input {
  display: none;
}
.toggle .text {
  font-weight: 400;
}
.toggle .switch {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 17px;
}
.toggle .switch:before,
.toggle .switch:after {
  position: absolute;
  display: block;
  content: '';
}
.toggle .switch:before {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: #dadada;
}
.toggle .switch:after {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background: #fafafa;
  transition: transform 0.15s ease;
}
.toggle input:checked:not(:disabled) + .switch:before {
  background: #41b855;
}
.toggle input:checked:not(:disabled) + .switch:after {
  transform: translateX(15px);
}
.toggle.disabled {
  color: #b8b8b8;
}
label.checkbox-container {
  display: flex;
  align-items: center;
  height: 15px;
  font-weight: 400;
}
label.checkbox-container input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin: 0 5px 0 0;
}
.flex,
.toggle,
.btn-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.btn {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background: #fafafa;
  color: #333;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  outline: 0;
  line-height: 1.3;
  cursor: default !important;
}
.btn * {
  cursor: default !important;
}
.btn.white {
  background: #fff;
}
.btn.pressed {
  box-shadow: inset 0px 0 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to top, #ddd, #ccc);
}
.btn.pressed:hover {
  box-shadow: inset 0px 0 2px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to top, #ddd, #ccc);
  cursor: default;
}
.btn:hover {
  text-decoration: none;
}
.btn[disabled="disabled"],
.btn.disabled,
.btn:disabled {
  background: #fafafa !important;
  color: rgba(0, 0, 0, 0.4) !important;
  border: 1px solid #eee !important;
  font-weight: 400 !important;
  box-shadow: none !important;
  -webkit-font-smoothing: initial !important;
}
.btn[disabled="disabled"] .spinner,
.btn.disabled .spinner,
.btn:disabled .spinner {
  color: #aaa !important;
}
.btn[disabled="disabled"]:hover,
.btn.disabled:hover,
.btn:disabled:hover {
  background: #fafafa;
}
.btn .spinner {
  display: inline-block;
  position: relative;
  top: 1px;
  color: inherit;
}
.btn.warning {
  color: #fff;
  background: #cc2f26;
  border-color: #99231d;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.btn.warning.pressed,
.btn.warning:hover {
  background: #c42d25;
  border-color: #c42d25;
}
.btn.success {
  background: #41bb56;
  color: #fff;
  border-color: #2e833c;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.btn.success.pressed,
.btn.success:hover {
  background: #3baa4e;
  border-color: #3baa4e;
}
.btn.transparent {
  border-color: transparent;
  background: none;
  font-weight: 400;
  box-shadow: none;
}
.btn.transparent:hover {
  background: rgba(0, 0, 0, 0.075);
  color: #424242;
}
.btn.transparent.disabled {
  border-color: transparent !important;
  background: none !important;
}
.btn.transparent.pressed {
  background: linear-gradient(to top, #f5f3f3, #ececec);
  border-color: #dadada;
}
.btn.primary {
  background: #5289f7;
  border-color: #275fce;
  color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.btn.btn-split-group {
  height: auto;
  padding: 0;
}
.btn.btn-split-group .btn-split-section {
  height: 28px;
  padding: 0 10px;
  border-right: 1px solid #ddd;
}
.btn.btn-split-group .btn-split-section:last-child {
  border-right: 0;
}
.btn-group {
  display: inline-flex;
}
.btn-group .btn {
  margin: 0 !important;
  border-radius: 0;
  border-right-width: 0;
}
.btn-group > :first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-right: 0;
}
.btn-group > :last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right-width: 1px;
  margin-left: 0;
}
.dropdown-btn-container {
  display: inline-block;
  position: relative;
}
.dropdown-btn-container.open .dropdown-btn-list {
  display: block;
}
.dropdown-btn-container.open .toggleable.btn {
  background: #dadada;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.07);
}
.dropdown-btn-list {
  display: none;
  position: absolute;
  z-index: 1;
  top: 24px;
  right: 0;
  background: #fff;
  border: 1px solid #d9d9d9;
  width: 149px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 2px 0;
}
.dropdown-btn-list * {
  cursor: pointer;
}
.dropdown-btn-list hr {
  margin: 2px 0;
}
.dropdown-btn-list .dropdown-item,
.dropdown-btn-list > div,
.dropdown-btn-list > a {
  width: 100%;
  display: block;
  padding: 7px 7px;
  color: #333;
}
.dropdown-btn-list .dropdown-item i,
.dropdown-btn-list > div i,
.dropdown-btn-list > a i {
  width: 15px;
  display: inline-block;
  text-align: center;
}
.dropdown-btn-list .dropdown-item.disabled,
.dropdown-btn-list > div.disabled,
.dropdown-btn-list > a.disabled {
  color: #b8b8b8;
}
.dropdown-btn-list .dropdown-item:hover,
.dropdown-btn-list > div:hover,
.dropdown-btn-list > a:hover {
  text-decoration: none;
}
.dropdown-btn-list .dropdown-item:hover:not(.disabled),
.dropdown-btn-list > div:hover:not(.disabled),
.dropdown-btn-list > a:hover:not(.disabled) {
  background: #2864dc;
  color: #fff;
}
.dropdown-btn-list > div,
.dropdown-btn-list .dropdown-item {
  padding: 8px 15px;
  border-bottom: 1px solid #d9d9d9;
}
.dropdown-btn-list > div:last-child,
.dropdown-btn-list .dropdown-item:last-child {
  border: 0;
}
.dropdown-btn-list > div .title,
.dropdown-btn-list .dropdown-item .title {
  font-weight: 600;
  margin-bottom: 5px;
}
.dropdown-btn-list > div .title i,
.dropdown-btn-list .dropdown-item .title i {
  margin-right: 2px;
}
.dropdown-btn-list > div:hover .desc,
.dropdown-btn-list .dropdown-item:hover .desc {
  color: #fff;
}
.btn-bar .btn {
  border-radius: 0 !important;
}
.btn-bar .btn:first-child {
  border-radius: 2px 0 0 2px !important;
}
.btn-bar .btn:last-child {
  border-radius: 0 2px 2px 0 !important;
}
.btn-bar .btn:not(:first-child) {
  border-left: 0;
}
a.btn span {
  vertical-align: baseline;
}
.btn.nofocus:focus,
button.nofocus:focus {
  outline: 0;
  box-shadow: none;
}
.vertical-scroll {
  overflow-y: scroll;
}
.shadow {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
}
.dropdown-shadow {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}
.dropdown-shadow-subtle {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
}
.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hidden {
  display: none !important;
}
* {
  box-sizing: border-box;
}
html,
body,
main {
  background: #fff;
}
body {
  font-size: 14px;
}
.header {
  position: sticky;
  top: 0;
  z-index: 2;
}
h1 {
  padding: 0.3rem 0.5rem;
  background: #8bc34a;
  color: #204a10;
  font-weight: normal;
  height: 40px;
}
#filter {
  position: absolute;
  top: 10px;
  right: 10px;
}
#filter input {
  width: 400px;
  border-color: #33691e;
}
nav {
  border-bottom: 1px solid #33691e;
  background: #8bc34a;
  padding: 0.2rem 0.4rem 0;
  height: 28px;
}
nav a {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border: 1px solid transparent;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
}
nav a:hover {
  background: rgba(255, 255, 255, 0.25);
}
nav a.active {
  background: #fff;
  border-color: #33691e;
  position: relative;
}
nav a.active:after {
  content: '';
  display: block;
  position: absolute;
  background: #fff;
  left: 0;
  width: 100%;
  bottom: -1px;
  height: 1px;
}
main .gray {
  color: #bbb;
}
main table thead {
  font-weight: bold;
}
main table thead td {
  position: sticky;
  top: 68px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
main table tbody tr:hover {
  background: #eee;
}
main table tbody td:hover {
  background: #ddd;
}
main table td {
  padding: 10px;
  border-right: 1px solid #ddd;
}
main section {
  padding: 1rem;
}
main section.columns {
  display: flex;
}
main section.columns > div {
  margin-right: 1rem;
}
main .peers > div {
  padding: 0.1rem 0;
  font-family: Consolas, 'Lucida Console', Monaco, monospace;
}
main .log tbody td {
  cursor: pointer;
}
td {
  padding-right: 10px;
}
