@import "./webfonts/fontawesome.css";

body {
  --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Cantarell, "Oxygen Sans", "Helvetica Neue", sans-serif;
  --code-font: Consolas, 'Lucida Console', Monaco, monospace;
  --red: rgb(255, 59, 48);
  --orange: rgb(255, 149, 0);
  --yellow: rgb(255, 204, 0);
  --lime: #E6EE9C;
  --green: rgb(51, 167, 71);
  --teal: rgb(90, 200, 250);
  --blue: #2864dc;
  --purple: rgb(88, 86, 214);
  --pink: rgb(255, 45, 85);

  background: #fff;
  color: #333;
  font-family: var(--system-font);
  font-size: 14px;
  padding: 0 10px 50px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body:before {
  content: '';
  display: block;
  background: #f1f1f6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: -1;

  background: #fff;
  box-shadow: 0 2px 3px #0002;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  outline-color: transparent;
  border: none;
}

code {
  font-family: var(--code-font);
  font-style: normal;
}
