@import "beaker://assets/font-awesome.css";
@import "beaker://app-stdlib/css/common.css";

body {
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Cantarell, "Oxygen Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  --border-color: #d4d7dc;
}

#monaco-editor {
  position: fixed;
  z-index: 1;
  top: 50px;
  height: calc(100vh - 60px);
  left: 300px;
  right: 370px;
  border: 1px solid #e1e1e6;
  border-radius: 4px;
  overflow: hidden;
}