<!DOCTYPE html>

<!--
  Want to customize this website? Learn more about how HTML works:
  https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML
-->

<html>
  <head>
    <meta charset="utf-8">
    <title>Hello world!</title>
    <link rel="stylesheet" href="/styles.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <h1>Hello world!</h1>

    <p>
      This website was created with <a id="beaker-url" title="The Beaker Browser">The Beaker Browser</a>.
    </p>

    <p>
      Want to share this website with friends? Share the URL:
    </p>

    <p id="url"></p>

    <p>
      Want to learn more about how this website works? <a id="library-url">View the source!</a>
    </p>

    <button id="change-background-color">
      Change background color
    </button>
  </body>

  <script type="application/javascript" src="script.js"></script>

  <script>
    console.log('Hello from the console!')
  </script>
</html>
