@import "./webfonts/fontawesome.css";

body {
  /* theme settings */
  --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Cantarell, "Oxygen Sans", "Helvetica Neue", sans-serif;
  --code-font: Consolas, 'Lucida Console', Monaco, monospace;
  --red: rgb(255, 59, 48);
  --orange: rgb(255, 149, 0);
  --yellow: rgb(255, 204, 0);
  --lime: #E6EE9C;
  --green: rgb(51, 167, 71);
  --teal: rgb(90, 200, 250);
  --blue: #2864dc;
  --purple: rgb(88, 86, 214);
  --pink: rgb(255, 45, 85);

  --body-background: #fff;
  --body-color: #333;

  --gray-background: #f5f5fb;

  --header-background: #fff;
  --header-color: #445;
  --header-search-color: #889;
  --header-search-background: #fff;
  --header-search-border-color: #ccd;
  --header-notifications-color: #889;
  --header-notifications-border-color: #aab;
  --header-notifications-color--highlighted: var(--blue);

  --link-color: var(--blue);

  --button-background: #fff;
  --button-color: #333;
  --button-border-color: #ccd;
  --button-background--hover: #f5f5f5;
  --button-color--hover: #333;

  --button-background--primary: #4d84f3;
  --button-color--primary: #fff;
  --button-border-color--primary: #3d74e3;
  --button-background--primary--hover: #3d74e3;
  --button-color--primary--hover: #fff;

  --post-color: #889;
  --post-title-color--read: #778;
  --post-title-color--unread: #444;
  --post-link-color: #778;

  background: var(--body-background);
  color: var(--body-color);
  font-family: var(--system-font);
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  outline-color: transparent;
  border: none;
}

code {
  font-family: var(--code-font);
  font-style: normal;
}