@import "beaker://app-stdlib/css/common.css";
@import "beaker://app-stdlib/css/fontawesome.css";

body {
  --text-color--nav--highlight: #445;
  --bg-color--header-search: #fafafd;
  --bg-color--new-btn--highlight: #fafafd;
  --bg-color--nav--highlight: #e3e6fd;

  font-size: 13px;
  background: #fff;
  color: #333;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color--nav--highlight: #bbb;
    --bg-color--header-search: #303030;
    --bg-color--new-btn--highlight: #303030;
    --bg-color--nav--highlight: #333;

    background: #222;
    color: #ccc;
  }
}