@import "./photon.min.less";

@import "./base/colors";
@import "./base/typography";
@import "./base/reset";

@import "./components/buttons.less";
@import "./com/toolbar.less";
@import "./com/downloads.less";
@import "./com/spinner.less";
@import "./com/markdown.less";
@import "./components/modal.less";
@import "./builtin-pages/components/toast";

// TODO: shouldn't import each of these on all builtin pages
// just reference them in their respective HTML -tbv
@import "./builtin-pages/bookmarks";
@import "./builtin-pages/history";
@import "./builtin-pages/library";
@import "./builtin-pages/library2";
@import "./builtin-pages/timeline";
@import "./builtin-pages/downloads";
@import "./builtin-pages/settings";
@import "./builtin-pages/profile";
@import "./builtin-pages/network";
@import "./builtin-pages/components/links-list";
@import "./builtin-pages/components/close-btn";
@import "./builtin-pages/components/avatar";
@import "./builtin-pages/components/post-popup";

.window-content.builtin {
  &:extend(.system-font);
  position: relative;
  background: #f0f0f0;
  padding: 40px;
}

.builtin-wrapper {
  width: 100%;
  max-width: 1400px;
  max-height: ~"calc(100vh - 80px)";
  margin: 0 auto;
  border-radius: 2px;
  border: 1px solid #ddd;
  background: #fff;

  em.empty {
    display: block;
    padding: 15px;
    color: rgba(0,0,0,.7);
  }

  h1 {
    margin-top: 0;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0 20px;
    color: rgba(0,0,0,.75);
    margin-bottom: 30px;
  }

  h2 {
    font-weight: 500;
    font-size: .725rem;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    letter-spacing: .25px;

    &:not(:first-of-type) {
      margin-top: 40px;
    }
  }

  .ll-row {
    &:extend(.flex);
    align-items: center;
    position: relative;
    align-items: center;
    padding: 0 15px;
    background: #fff;
    border-bottom: 1px solid rgb(230, 230, 230);

    .link {
      &:extend(.flex);
      align-items: center;
      flex-wrap: nowrap;
    }

    &:hover {
      background: rgb(249, 249, 249);

      .actions {
        background: rgb(249, 249, 249);
      }
    }

    .title {
      &:extend(.overflow-ellipsis);
      max-width: 650px;
      display: inline-block;
      margin-right: 5px;
    }

    .url {
      &:extend(.overflow-ellipsis);
      max-width: 200px;
      margin-right: 20px;
      color: #aaa;
      font-size: 12px;
    }

    .actions {
      &:extend(.flex);
      align-items: center;
      line-height: 100%;
      position: absolute;
      right: 20px;
    }
  }

  .search-container {
    position: relative;
    margin-bottom: 15px;
    width: 300px;
    height: 30px;
    margin-bottom: 10px;

    i.fa-search {
      position: absolute;
      left: 10px;
      top: 8.75px;
      color: rgba(0,0,0,.5);
    }

    .close-btn,
    .search {
      position: absolute;
    }

    .close-btn {
      right: 7px;
      top: 7px;
    }

    input.search {
      width: 100%;
      height: 100%;
      padding: 0 10px;
      padding-left: 27px;

      &:invalid + .close-btn {
        opacity: 0;
      }
    }
  }
}

.builtin-header {
  padding: 15px;
  background: #fff;

  &.fixed {
    &:extend(.flex);
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border-bottom: 1px solid rgb(210, 210, 213);
    box-shadow: 0 2px 0 rgba(0,0,0,.025);

    > * {
      margin-bottom: 0;
    }

    + div {
      // padding-top: 50px;
    }
  }

  label {
    color: @color-text--muted;
    margin-right: 10px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
  }

  select {
    height: 26px;
    font-size: 11.5px;
  }

  .view-controls {

    .view-option {
      margin-left: 10px;
      cursor: pointer;

      &:hover {

        i {
          color: rgba(0,0,0,0.45);
        }
      }

      i {
        color: rgba(0,0,0,.2);
        font-size: 14px;
        cursor: pointer;

        &.fa-th {
          -webkit-text-stroke: .75px #fff;
        }
      }

      &.pressed {

        i {
          color: rgba(0,0,0,.85);
        }
      }
    }
  }
}

.builtin-main,
.builtin-sidebar {
  display: inline-block !important;
}

.builtin-sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  max-height: ~"calc(100vh - 82px)";
  overflow: auto;
  background: @background-builtin-page;
  background: #fff;
  padding: 10px 0;
  border-right: 1px solid #ddd;
  display: inline-block;

  .builtin-blurb {
    padding: 0 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    color: rgba(51, 51, 51, 0.9); // TODO make this a var -tbv
  }

  .section {
    margin-bottom: 20px;

    h2 {
      padding: 1px 20px;

      &.clickable {
        cursor: pointer;
      }

      .icon {
        width: 9px;
        height: 9px;
        margin-left: 3px;

        * {
          fill: rgba(0,0,0,.25);
          transition: fill .1s ease;
        }
      }

      &:hover {

        .icon * {
          fill: rgba(0,0,0,.5);
        }
      }
    }
  }

  .nav-item {
    &:extend(.flex);
    align-items: center;
    height: 28px;
    padding: 0 20px;
    margin-bottom: 1px;
    color: fadeout(@color-text, 10%);
    border-left: 2.5px solid transparent;
    cursor: pointer;

    .icon {
      width: 18px;
      height: 18px;
      margin-right: 5px;

      &.history {
        width: 15px;
        height: 15px;
        margin-right: 8px;
      }

      &.star-fill {
        width: 17px;
        height: 17px;
        margin-left: .5px;
        margin-right: 5.5px;

        * {
          fill: rgba(0,0,0,.25);
          stroke-opacity: 0;
        }
      }

      &.padlock {
        width: 11px;
        height: 14px;
        margin-left: 3px;
        margin-right: 9px;
        margin-top: -1px;

        #top {
          stroke: rgba(0,0,0,.25);
        }

        #bottom {
          fill: rgba(0,0,0,.25);
        }
      }

      &.globe {
        width: 14px;
        margin-left: 2px;
        margin-right: 7px;

        #water {
          fill: rgba(0,0,0,.25);
        }

        .earth {
          fill: fadeout(#fff, 10%);
        }
      }

      &.history * {
        stroke: rgba(0,0,0,.25);
      }

      &.pin *,
      &.star-fill * {
        fill: rgba(0,0,0,.25);
      }

      &.pin {
        width: 11px;
        margin-left: 3.25px;
        margin-right: 8.75px;
      }
    }

    &:hover {
      background: #f7f7f7;
      border-color: #ccc;
    }

    &.active {
      font-weight: 500;
      border-color: @blue;

      .icon {

        &.star-fill,
        &.pin {
         * {
            fill: fadeout(@color-text, 25%);
            stroke: fadeout(@color-text, 25%);
          }
        }

        &.globe {

          #water {
            fill: fadeout(@color-text, 25%);
          }
        }

        &.padlock {

          #top {
            stroke: fadeout(@color-text, 25%);
          }

          #bottom {
            fill: fadeout(@color-text, 25%);
          }
        }
      }
    }

    &.friend {

      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }

    &.disabled {
      color: @color-text--midlight;

      &:hover {
        background: transparent;
      }

      .coming-soon {
        display: inline-block;
        font-style: italic;
        margin-left: 0.5rem;
      }
    }
  }

  .nav-link-cloud {
    padding: 0 20px;

    a {
      display: inline-block;
      margin: 0 6px 6px 0;
      padding: 0px 5px;
      background: #eee;
      border: 1px solid #ddd;
      border-radius: 2px;
      color: #555;
      font-weight: 500;
      font-size: 12px;
      text-decoration: none;
      white-space: pre;

      &:hover {
        background: #e5e5e5;
        border-color: #d5d5d5;
      }

      &.active {
        background: #e1edfa;
        border-color: #a2a2f5;
        color: #5252c5;
      }
    }
  }
}

.builtin-main {
  position: relative;
  width: ~"calc(100% - 300px)";
  max-height: ~"calc(100vh - 82px)";
  margin-left: 300px;
  margin-bottom: 20px;
  overflow-y: auto;
  overflow-x: hidden;

  &.center {
    margin: 75px auto;
    padding: 0 50px;
    width: 100%;
    height: auto;
    max-width: 750px;
  }

  .view {
    padding: 30px;
    max-width: 700px;

    a {
      color: @blue;

      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      list-style: disc;
      margin-left: 20px;
    }
  }
}