@import "./fonts/photon.min.less";

@import "./com/archives.less";
@import "./com/btn.less";
@import "./com/toolbar.less";
@import "./com/sidenav.less";
@import "./com/links-list.less";
@import "./com/files-list.less";
@import "./com/downloads.less";
@import "./com/spinner.less";
@import "./com/markdown.less";
@import "./com/modal.less";
@import "./com/archive-history-list.less";

@import "./views/archives.less";
@import "./views/archive.less";
@import "./views/settings.less";

@import "./vendor/shepherd-theme-arrows.less";

.pane {
  border: 0;
}

#el-content {
  padding: 5px 30px 10px 20px;
}

.page-toolbar {
  margin-top: 10px;
  .btn {
    padding: 0 10px;
    font-size: 11px;
  }
}

.notice {
  padding: 11px;
  color: gray;
}

.favorites.links-list {
  .icon-star {
    // make an outline
    color: #fff;
    -webkit-text-stroke: 1px #999;
  }
}