@import "./photon.min.less";

@font-face {
  font-family: "photon-entypo";
  src: url("beaker:font") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import "./com/btn.less";
@import "./com/toolbar.less";
@import "./com/tabs.less";
@import "./com/sidenav.less";
@import "./com/links-list.less";
@import "./com/downloads.less";
@import "./com/spinner.less";
@import "./com/markdown.less";
@import "./com/modal.less";
@import "./com/modals/edit-site.less";

@import "./views/settings.less";

.pane {
  border: 0;
}

#el-content {
  padding-right: 20px;
}

.favorites.links-list {
  .icon-star {
    // make an outline
    color: #fff;
    -webkit-text-stroke: 1px #999;
  }
}