@import "./photon.min.less";

@font-face {
  font-family: "photon-entypo";
  src: url("beaker:font") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

// draggable region for OSX
body.darwin #toolbar {
  display: block;
  -webkit-app-region: drag;
}

#toolbar {
  height: 64px;
  border-bottom: 1px solid #999;
  background: linear-gradient(to bottom, #F9F9F9 0, #E0E0E0 100%);

  .toolbar-group {
    padding: 0 5px;
  }

  .toolbar-actions {
    display: flex;
    padding: 0;
    margin: 4px 0 0;

    &.hidden {
      display: none;
    }

    input.form-control {
      flex: 1;
      box-shadow: inset 0px 1px 1px rgba(0,0,0,.25);
      border: 1px solid #B3B1B3;
      border-radius: 3px;
      padding: 0px 10px;
      margin-left: 2px;
      font-size: 14px;
      line-height: 1.1;
      -webkit-app-region: no-drag;
    }

    button {
      background: none;
      border: 0;
      margin: 0;
      padding: 4px 5px;
      font-size: 17px;
      line-height: 1.1;
      color: #403939;
      width: 26px;
      border-radius: 2px;
      border: 1px solid transparent;

      &:hover:not(:disabled) {
        border: 1px solid #aaa;
        box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
        text-shadow: none;
        background: linear-gradient(to bottom, #F5f5f5, #e0e0e0);
      }
      &:disabled {
        color: #aaa;
      }
      &:focus {
        outline: 0;
      }

      // make the arrows thicker
      &.nav-back-btn, &.nav-forward-btn, &.nav-forward-cancel {
        -webkit-text-stroke: 1px;
      }
    }
  }
  #toolbar-tabs {
    margin: 0;
    border: 0;

    .tab-item {
      // we want to keep tabs equal width, and overflow the text
      min-width: 0; // this seems to force the sizing behavior we want
      overflow: hidden;
      text-overflow: ellipsis;
      .tab-text {
        white-space: pre;
      }

      // put close icon on right
      .icon {
        left: auto;
        right: 5px;
      }

      // visual adjustments
      padding: 5px 22px 3px; 
      border-top: 0;
      border-bottom: 1px solid #989698;
      &.active {
        border-bottom-color: #ADADAD;
      }
    }
  }
}
// make space for headlights on osx
body.darwin #toolbar #toolbar-tabs .tab-item:first-child {
  padding-left: 70px;
}

.window-blurred {
  // when the window isnt focused, lighten the toolbar
  #toolbar {
    background: #eee;
    border-color: #bbb;

    .toolbar-actions .form-control {
      box-shadow: none;
    }
    .toolbar-actions button {
      color: #bbb;
    }
  }
  .tab-group {
    border-color: #ccc;
  }
  .tab-item {
    background: #e0e0e0;
    border-color: #ccc !important;
    &.active {
      background: #eee !important;
    }
  }
}
#webviews {
  height: ~"calc(100vh - 62px)"; // ~"" is an escaped string, it keeps less from running this calc in the preprocessing
  position: relative;

  webview {
    height: 100%;
    width: 100%;
    outline: none;
    position: absolute;

    &.hidden {
      // use visiblity instead of display: none
      // (this ensures that, even if hidden, the webview will do work)
      display: flex; // the default display type
      visibility: hidden;

      // this is what electron's docs recommend...
      // causes the pages to relayout on unhide, though, which sucks
      // but, keep an eye out for bugs that would make the following better
      // -prf
      /*flex: 0 1;
      width: 0px;
      height: 0px;*/
    }
  }
}

#status-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  background: #eee;
  padding: 0 5px;
  border: 1px solid #aaa;
  border-radius: 2px;
  font-size: 12px;
  min-width: 300px;
}

#left-swipe-arrow, #right-swipe-arrow {
  position: fixed;
  top: ~"calc(50vh)";
  z-index: 1000;
  font-size: 50px;
  line-height: 1;
  padding: 10px 16px;
  border-radius: 40px;
  color: #fff;
  background: rgba(0, 0, 0, 0.25);
  transition: background 0.25s;

  &.highlight {
    background: rgba(0, 0, 0, 0.75);
  }
  &.returning {
    transition: left 0.2s, right 0.2s;  
  }
}
#left-swipe-arrow {
  left: -80px;
}
#right-swipe-arrow {
  right: -80px;
}

// general styles
.hidden {
  display: none;
}

.btn-disabled .icon, .btn[disabled] .icon {
  color: #aaa;
}