@import "./photon.min.less";
@import "./fonts/source-sans-pro.less";
@import "./com/spinner.less";
@import "./components/link.less";
@import "./components/buttons.less";
@import "./shell-window/chrome-tabs.less";
@import "./shell-window/toolbar.less";
@import "./shell-window/toolbar-actions.less";
@import "./shell-window/toolbar-dropdown.less";
@import "./shell-window/toolbar-input-group.less";
@import "./shell-window/promptbar.less";
@import "./shell-window/swipe-arrows.less";
@import "./shell-window/statusbar.less";
@import "./shell-window/dat-sidebar.less";
@import "./shell-window/webviews.less";

body {
  margin: 0;
  padding: 0;
}

// general styles
.hidden {
  display: none;
}

.btn-disabled .icon, .btn[disabled] .icon {
  color: #aaa;
}