body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Cantarell, "Oxygen Sans", "Helvetica Neue", sans-serif;
  color: #333;
}

h1 {
  margin-bottom: 0.5em;
}

a {
  color: #2692e8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  text-align: center;
}

header {
  background: #2196f3;
  height: 120px;
  margin-bottom: 90px;
}

#thumb {
  position: relative;
  top: 50px;
  border-radius: 50%;
  border: 4px solid #fff;
  width: 130px;
  height: 130px;
}

#description span {
  display: inline-block;
  max-width: 400px;
}