.chrome-tabs-shell {
  position: relative;
  padding: 0 18px 0 0px;
  height: 36px;
  border-bottom: 1px solid #999;
}

.chrome-tabs {
  position: relative;

  * {
    -webkit-user-select: none;
    cursor: default;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 13px;
  }

  .chrome-tab {
    position: absolute;
    top: 7px;
    height: 29px;
    width: 52px;
    z-index: 1;
    -webkit-app-region: no-drag;
    transition: .1s transform;
    
    &:before {
      content: '';
      position: absolute;
      top: -3px;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      border: 1px solid #a0a0a0;
      border-top-color: #888;
      border-bottom-color: #aaa;
      background: #ddd;
      transform: perspective(6px) rotateX(1deg);
      transform-origin: bottom;
      transition: 0.2s background;
    }

    .chrome-tab-favicon {
      width: 16px;
      height: 23px;
      text-align: center;
      background-size: 16px;
      position: absolute;
      left: 15px;
      top: 7px;
      z-index: 3;

      img {
        width: 16px;
        height: 16px;
      }
    }
    .spinner {
      position: relative;
      left: 1px;
      top: 1px;
    }
    &.chrome-tab-pinned {
      &:before {
        transform: perspective(1px) rotateX(1deg);
        top: -28px;
      }
      .chrome-tab-favicon {
        left: 20px;
      }
    }

    .chrome-tab-title {
      color: #222222;
      padding: 9px 26px 5px 36px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &.chrome-tab-nofavicon .chrome-tab-title {
      padding-left: 16px;
    }

    .chrome-tab-close {
      display: none;
      position: absolute;
      right: 14px;
      top: 8px;
      width: 15px;
      height: 15px;
      z-index: 2;
      border-radius: 8px;

      &:before {
        content: "\00D7";
        position: absolute;
        top: 1px;
        right: 3px;
        font-size: 12px;
        line-height: 12px;
        color: #777777;
      }
      &:hover:before,
      &:active:before {
        color: white;
      }
      &:hover,
      &:active {
        background: #f17469;
      }
      &:active:before {
      }
    }

    &:hover {
      &:before {
        background-color: #f0f0f0;
      }
      .chrome-tab-close {
        display: block;
      }
    }

    &.chrome-tab-dragging {
      transition: none !important;
    }

    &.chrome-tab-current {
      border: 0;
      &:before {
        border-bottom: none;
        background-color: #f5f5f5;
      }
    }

    &.chrome-tab-add-btn {
      &:before {
        background: transparent;
        border: 0;
        transform: perspective(1px) rotateX(1deg);
        top: -28px;
      }

      .chrome-tab-favicon {
        top: 6px;
        padding: 0 6px;
      }
      .icon {
        font-size: 17px;
        line-height: 15px;
        color: #666;
      }

      &:hover {
        &:before {
          background: #d6d5d5;
        }
        .icon {
          color: #444;
        }
      }
    }
  }
}

// make room for the traffic lights
.darwin:not(.fullscreen) .chrome-tabs {
  padding-left: 75px;
}