#sidebars {
}

.sidebar-container,
.sidebar {
  height: 100%;
  width: 300px;
}

.sidebar-container {
  border-left: 1px solid #ccc;
}

.sidebar {
  background: #f7f7f7;
}

@import "./sidebars/user.less";
