#sidebars {
}

.sidebar-container,
.sidebar {
  height: 100%;
}

.sidebar-container {
  width: 301px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-right: 5px;
}

.sidebar {
  width: 300px;
  background: #fff;
}

@import "./sidebars/user.less";
