.toolbar-actions {
  display: flex;
  padding: 6px 0 5px;
  margin: 0;
  background: #f5f5f5;

  &.hidden {
    display: none;
  }

  button.toolbar-btn {
    background: none;
    border: 0;
    margin: 0;
    padding: 4px 5px;
    font-size: 17px;
    line-height: 1.1;
    color: #666;
    width: 28px;
    border-radius: 2px;
    border: 1px solid transparent;

    &:hover:not(:disabled) {
      text-shadow: none;
      background: #e0e0e0;
    }
    &:disabled {
      color: #aaa;
    }
    &:focus {
      outline: 0;
    }
    &.pressed:not(:disabled) {
      border: 1px solid #aaa;
      box-shadow: inset 0px 2px 2px rgba(0,0,0,0.1);
      background: linear-gradient(to top, #d0d0d0, #ccc);
    }

    // shrink and reposition some buttons
    &.nav-cancel-btn .icon {
      font-size: 16px;
    }
    &.nav-reload-btn .icon {
      font-size: 15px;
      position: relative;
      top: -1px;
      left: -1px;
    }
  }
}