body {
  --blue: #2864dc;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

a {
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  margin: 0.83rem 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 1.7em;
}

hr {
  border: 0;
  border-top: 1px solid #ccd;
}

.btn {
  display: inline-block;
  border-radius: 4px;
  padding: 4px 8px;
  text-decoration: none;
  font-size: 11px;
  letter-spacing: 0.25px;
  font-weight: 400;
  transition: background 0.1s ease;
  margin-left: 4px;
  background: #fff;
  border: 1px solid #ccd;
}

.btn.pressed {
  box-shadow: inset 0px 0 5px rgba(0, 0, 0, 0.25);
}

.btn:hover {
  background: #f3f3f7;
  text-decoration: none;
}

.btn.primary {
  background: #2864dc;
  color: #fff;
  border-color: #2864dc;
}

.btn.primary:hover {
  background: #2357bf;
}

main {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 800px;
}

drive-admin {
  display: block;
  background: #f3f3f7;
  padding: 1em;
  margin-bottom: 1.5em;
  text-align: right;
}

drive-header {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

drive-header img {
  display: block;
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

drive-header .details {
  flex: 1;
}

drive-header .links {
  align-self: baseline;
  padding: 14px 0;
}

drive-header h1,
drive-header p {
  margin: 0.5rem 0;
  line-height: 1;
}

drive-breadcrumbs {
  display: flex;
  font-size: 12px;
  padding: 14px 0;
}

drive-breadcrumbs span,
drive-breadcrumbs a {
  margin-right: 6px;
  color: #778;
}

drive-page .content {
  padding: 14px 0;
  max-width: 100%;
}

drive-page pre.content {
  margin: 0;
  white-space: pre-wrap;
  font-size: 15px;
}

drive-posts {
  display: block;
  padding-bottom: 14px;
}

drive-posts .post {
  padding: 0.7rem 0;
  letter-spacing: 0.5px;
}

drive-posts h3 {
  margin: 0;
}

drive-posts .post .details {
  color: #778;
  font-size: 12px;
}

drive-posts .post .details a.topic {
  color: #778;
}

drive-files {
  display: block;
}

drive-files .entry {
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content > :first-child {
  margin-top: 0;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5 { margin: 1.5rem 0; }
.content h1 { font-size: 2em; }
.content h2 { font-size: 1.7em; }
.content h3 { font-size: 1.4em; }
.content h4 { font-size: 1.3em; }
.content h5 { font-size: 1.1em; }
.content pre {
  background: #f3f3f7;
  padding: 1em;
  overflow: auto;
}
.content p,
.content ul,
.content ol {
  line-height: 1.5;
}
.content table {
  margin: 1em 0;
}
.content blockquote {
  border-left: 10px solid #f3f3f7;
  margin: 1em 0;
  padding: 1px 1.5em;
  color: #667;
}