@color-text: #333;
@color-link: #0062ff;

// Buttons
@color-button: tint(@color-text, 20%);
@color-button--disabled: tint(@color-text, 50%);
@border-button: shade(#fff, 15%);
@border-button--disabled: shade(#fff, 15%);
@background-button: shade(#fff, 2%);
@background-button--disabled: shade(#fff, 2%);
@background-button--active: shade(#fff, 6%);
