body {
  --light-gray: #f7f7fc;
  --blue: #2864dc;
  --border-radius: 4px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button, .button {
  display: inline-block;
  padding: 0.5rem 0.8rem;
  background: #fff;
  border: 1px solid #88f;
  border-radius: 4px;
  color: var(--blue);
  outline: 0;
  font-size: 12px;
  box-shadow: 0 0 0 #0003;
  transition: box-shadow 0.2s;
}

button:hover, .button:hover {
  box-shadow: 0 1px 2px #0003;
  text-decoration: none;
}

button:active {
  background: var(--light-gray);
}

button.primary {
  color: #fff;
  background: var(--blue);
  border-color: var(--blue);
}

button img {
  display: block;
  width: 16px;
}

nav {
  background: var(--light-gray);
}

nav > *,
main > * {
  max-width: 800px;
  margin: 0 auto;
  display: block;
}

module-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0 20px;
}

module-header h1,
module-header p {
  margin: 0.25rem 0;
  line-height: 1;
}

module-header h1 {
  font-size: 2rem;
}

module-header h1 a {
  color: inherit;
}

module-header .admin {
  display: flex;
  position: absolute;
  top: 30px;
  right: 20px;
}

module-header .admin > * {
  margin-left: 5px;
}

module-breadcrumbs {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  font-size: 15px;
}

module-breadcrumbs > * {
  margin-right: 5px;
}

module-breadcrumbs a {
  letter-spacing: 0.8px;
  font-weight: 600;
}

module-breadcrumbs a:last-of-type {
  color: #334;
}

module-directory-view .listing {
  margin: 1rem 0;
  border: 1px solid #ccd;
  border-radius: var(--border-radius);
}

module-directory-view .listing .entry {
  display: flex;
  align-items: center;
  padding: 0.6rem 0.8rem;
  border-bottom: 1px solid #ccd;
}

module-directory-view .listing .entry:last-child {
  border-bottom: 0;
}

module-directory-view .listing .entry .icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

module-directory-view .listing .entry a {
  font-size: 15px;
  margin-right: auto;
}

module-directory-view .listing .entry small {
  opacity: 0.5;
}

module-file-view {
  display: block;
  margin: 1rem 0;
  border: 1px solid #ccd;
  border-radius: var(--border-radius);
}

module-file-view .hljs {
  background: #fff;
  font-size: 14px;
  line-height: 1.4;
}

module-file-view .content {
  margin: 0;
  padding: 1.25rem 1rem;
}

.content > :first-child {
  margin-top: 0;
}
.content hr {
  border: 0;
  border-top: 1px solid #ccd;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5 { margin: 1.5rem 0; }
.content h1 { font-size: 2em; }
.content h2 { font-size: 1.7em; }
.content h3 { font-size: 1.4em; }
.content h4 { font-size: 1.3em; }
.content h5 { font-size: 1.1em; }
.content pre {
  background: var(--light-gray);
  padding: 1em;
  overflow: auto;
}
.content p,
.content ul,
.content ol {
  line-height: 1.5;
}
.content table {
  margin: 1em 0;
}
.content blockquote {
  border-left: 10px solid var(--light-gray);
  margin: 1em 0;
  padding: 1px 1.5em;
  color: #667;
}

.content #mocha {
  margin: 0;
}

.content #mocha h1 {
  margin-top: 0;
  font-weight: 500;
}

.content #mocha .suite {
  margin-bottom: 15px;
}

.content #mocha #mocha-stats {
  background: #fff;
  border: 1px solid #ccd;
  padding: 9px 6px 4px 12px;
  border-radius: 30px;
  box-shadow: 0 1px 2px #0002;
}

.content #mocha #mocha-stats li:not(.progress) {
  padding-top: 12px;
}

@media (max-width: 1460px) {
  .content #mocha #mocha-stats {
    top: unset;
    bottom: 15px;
    right: 15px;
  }
}