@import "./components/sidebar";
@import "../base/spacing";
@import "../base/colors";

.bookmarks-wrapper {

  .ll-row {
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 0 !important;

    &:last-child {
      border-bottom: 1px solid rgb(230, 230, 230) !important;
    }

    .icon {

      .pin {
        margin-right: -1px;
      }
    }
  }
}