@import "./components/sidebar";
@import "../base/spacing";
@import "../base/colors";

.bookmarks-wrapper {

  .ll-row {
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 0 !important;

    &:last-of-type {
      border-bottom: 1px solid rgb(230, 230, 230);
    }

    .icon {

      .pin {
        margin-right: -1px;
      }
    }
  }

  .bookmarks-breadcrumbs {
    color: rgba(0,0,0,.6);
    margin-bottom: 5px;
    padding: 0 15px;

    .breadcrumb {
      text-decoration: none;
      color: inherit;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &:not(:last-of-type) {

        &:after {
          display: inline-block;
          content: '\00BB';
          margin-left: 5px;
        }
      }
    }
  }
}