@import "../base/reset.less";
@import "../base/colors.less";
@import "../base/spacing.less";
@import "../base/typography.less";
@import "../components/link.less";
@import "../components/inputs.less";
@import "../components/tabs.less";
@import "../components/dropdown.less";
@import "./components/files-list.less";

body {
  &:extend(.system-font);
  background: #fff;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: .7rem !important;

  &::-webkit-scrollbar {
    display: none;
  }
}

.archive {
  padding: ~"calc(1rem + 30px)" 0; // height of fixed footer
  padding-top: 0;

  * {
    font-size: .7rem !important;
  }
}

.actions {
  &:extend(.flex);
  overflow: hidden;
  border-top: 1px solid @border-menu;
  border-bottom: 1px solid @border-menu;
  margin-bottom: .25rem;

  button {
    cursor: pointer;
    color: @color-text;
    font-weight: 400;
    background: @background-menu;
    flex: 1 ;
    padding: 0;
    font-size: .7rem;
    line-height: 100%;
    text-align: center;

    i {
      color: @color-text--muted;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background: @background-menu--hover;

      i {
        color: @color-text;
      }
    }

    .content {
      padding: .5rem .6rem;
      margin: 0;

      i {
        margin-right: 3px;
      }
    }

    &:not(:first-of-type) {

      .content {
        border-left: 1px solid @border-menu
      }
    }
  }
}

.info {
  width: 100%;
  margin-bottom: 1rem;

  .readonly {
    text-transform: uppercase;
    border: 1px solid @border-menu;
    border-radius: 2px;
    font-size: .6rem !important;
    background: @background-menu;
    margin-left: 3px;
    padding: 1px 3px;
    display: inline-block;
  }

  .heading {
    &:extend(.flex);
    justify-content: space-between;
    padding: .65rem 0 .5rem 0;
    margin: 0 .5rem;
  }

  .heading i {
    margin-top: 3px;
    width: 10px;
    height: 10px;
    text-align: center;
    cursor: pointer;
    color: @color-text--muted;

    &:hover {
      // box-shadow: inset 1px 1px 1px fadeout(#000, 50%);
      background: @background-menu--hover;
      border-radius: 2px;
    }
  }

  .description {
    // display: none;
    margin-top: .25rem;
    padding: 0 .5rem;

    &.visible {
      display: block;
    }
  }

  h1 {
    font-weight: 400;
  }
}

.network-info {
  &:extend(.flex);
  justify-content: space-between;
  position: fixed;
  padding: .5rem;
  margin: 0;
  background: @background-menu;
  bottom: 0;
  width: 100%;
  border-top: 1px solid @border-menu;

  a {

    &:hover {
      &:extend(.link:hover);
    }
  }

}

.btn:focus {
  outline: 0;
}

h1,
h2 {
  font-weight: 500;
}

h1 {
  margin-top: 0;
}

h2 {
  // font-size: .95rem;
}

section {
  margin-bottom: 1.5rem;
}

.section-heading {
  &:extend(.flex);
  justify-content: space-between;
  margin-bottom: .5rem;
  border-bottom: 1px solid @border-menu;

  a {
    // font-size: .8rem;

    &:hover {
      &:extend(.link:hover);
    }
  }
}

.dat-local-path {
  display: none;
}

.files-list {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  margin: 1rem 0;

  .item {
    justify-content: space-between;
    padding: 5px 0;

    .name {
      &:extend(.overflow-ellipsis);
      max-width: 150px;
    }

    .link {
      color: @color-text;
    }
  }

  .item.file {

    i {
      display: none;
    }
  }
}

.history,
.metadata {
  margin: 1rem .5rem;
}

.history {

  .load-more {
    &:extend(.link:hover);
    display: block;
    margin-top: .5rem;
  }
}

.tab,
.tabs-content {
  // font-size: .8rem !important;
}

.tabs-content {
  margin: 0 .5rem;
}

.metadata {

  td.label {
    width: 65px;
  }
}

.history-item {
  &:extend(.flex);
  margin-bottom: .25rem;

  .date {
    display: inline-block;
    width: 85px;
  }

  .path {
    &:extend(.overflow-ellipsis);
    max-width: 100px;
    margin-left: 5px;

    &:hover {
      &:extend(.link:hover);
    }
  }
}