@import "./components/editor/sidebar.less";
@import "./components/editor/tabs.less";

.muted {
  color: gray;
}

.thin {
  font-weight: 300;
}

.icon-info {
  color: transparent;
  -webkit-text-stroke: 1px #333;
}

.editor-wrapper {
  display: flex;
  height: 100%;
  flex-flow: row nowrap;
  background: #f6f6f9;
  user-select: none;
}

.editor-container {
  flex: 1;

  #editor, #diffEditor, #imageViewer {
    height: calc(100% - 100px);
    background-color: white;
    border-left: 1px solid #ccc;
  }

  #imageViewer {
    position: relative;
    border-left: 1px solid #ccc;

    img {
      max-width: 100%;
      height: auto;
      position: absolute;
      top: 25px;
      left: 25px;
    }
  }
}

.editor-toolbar {
  display: flex;
  background: #fff;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ddd;

  .btn {
    border-radius: 0;
  }

  .spacer {
    flex: 1;
  }
}