@import "./components/sidebar";
@import "../components/link";
@import "../base/spacing";

.window-content.history {

  button.clear {
    // &:extend(.link);
    margin-right: 5px;
  }

  h2 {
    padding: 0 10px;
    border-bottom: 1px solid rgb(230, 230, 230);
    text-transform: none;
    letter-spacing: 0;
  }
}
