@import "./components/sidebar";
@import "../components/link";
@import "../base/spacing";

.window-content.history {

  .builtin-main {
    max-width: ~"calc(100vw - 340px)"; // width of main sidebar + builtin-sidebar

    .links-list.history {
      max-width: 950px;
      width: 100%;
    }

    .ll-row {
      max-width: 950px;
      width: 100%;

      .link {
        width: 100%;
      }

      .url {
        margin-left: auto;
        margin-right: 10px;
      }
    }

    button.clear {
      margin-right: 5px;
    }

    h2 {
      padding: 0 10px;
      margin: 0;
      border-bottom: 1px solid rgb(230, 230, 230);
      text-transform: none;
      letter-spacing: 0;
      background: #fff;
    }
  }
}
