@import "../base/reset.less";
@import "../base/colors.less";
@import "../base/spacing.less";
@import "../base/typography.less";

@import "../components/link.less";
@import "../components/buttons.less";
@import "../com/spinner.less";
@import "../components/inputs.less";
@import "../components/tabs.less";
@import "../components/messages.less";
@import "../components/popups.less";
@import "./components/toast";

@import "./components/files-list.less";

* {
  box-sizing: border-box;
}

body {
  &:extend(.system-font);
  font-size: 14px;
}

.sidebar {
  &:extend(.vertical-scroll);
  &:extend(.hide-scrollbar all);
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  border-right: 1px solid @border-menu;
  background: #fff;
  z-index: 1;
  transition: left .2s ease;

  .menu {
    position: absolute;
    right: 2px;
    top: 4px;
    z-index: 3;

    i {
      font-size: 20px;
    }
  }

  &.open {
    left: 0;

    + .view .trash {
      margin-left: 250px;

      .menu {
        display: none;
      }
    }
  }

  @media (min-width: 925px) {
    left: 0;

    .menu {
      display: none;
    }

    .sidebar.open .view .trash {
      margin-left: 0;
    }
  }
}

.message {
  &.missing-local-path {
    li {
      margin: 1em 0;
    }
  }

  &.diff-summary {
    display: flex;

    & > div:first-child {
      flex: 1;
    }
  }
}

.tabs {
  margin-bottom: 1rem;
}

.sidebar-actions {
  position: fixed;
  width: 250px;
  border-bottom: 1px solid @border-menu;
  border-right: 1px solid @border-menu;
  z-index: 2;
  background: #fff;

  label[for="filter"] {
    position: relative;
  }

  .clear-filter {
    visibility: hidden;
    position: absolute;
    left: calc(100px - 1.5rem);
    top: -27px;
    left: 225px;
    color: @color-text--muted;
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 14px;

    &:hover {
      background: @background-menu;
    }

    &.visible {
      visibility: visible;
    }
  }

  .filter {
    &:extend(input.roomy);
    font-size: 14px;
    border-radius: 0;
    border: none;
    padding-left: 1rem;
  }

  .sort {
    padding: .2rem 0 .15rem 1rem;
    font-size: 12px;
    background: @background-menu;
    border-top: 1px solid @border-menu;

    select {
      position: absolute;
      top: 33px;
      right: .5em;
      background: none;
    }
  }

  .filter, .sort {
    display: block;
    width: 100%;
  }
}

.sidebar .archives-list {
  margin-top: 54px; // height of .sidebar-actions
  margin-bottom: 38px; // height of .trash-controls
}

.sidebar .archive {
  padding: .5rem 0;
  margin-left: 1rem;
  position: relative;
  border-bottom: 1px solid @border-menu;
  cursor: default;

  &.active,
  &:hover {
    margin-left: 0;
    padding-left: 1rem;

    .last-updated {
      left: 1rem;
    }
  }

  &:hover {
    background: @background-menu;

    input {
      display: block;
    }
  }

  input {
    display: none;
    position: absolute;
    right: .5rem;
    top: .5rem;
    margin: 0;
    padding: 0;
  }

  input:checked {
    display: block;
  }

  &.active {
    -webkit-font-smoothing: antialiased;
    background: @blue;
    color: #fff;
    font-weight: 500;

    .title {
      font-weight: 700;
    }

    .last-updated, .peers, .title {
      color: #fff;
    }
  }

  .title {
    font-weight: 600;
    margin-bottom: 1.25rem;
  }

  .title, .description {
    &:extend(.overflow-ellipsis);
    max-width: 195px;
  }

  .last-updated, .peers {
    position: absolute;
    bottom: .5rem;
    font-size: 12px;
    color: @color-text--muted;
  }

  .last-updated {
    left: 0;
  }

  .peers {
    right: .5rem;
  }
}

.sidebar .new-archive {
  padding: .5rem 0;
  margin-left: 1rem;
  position: relative;
  border-bottom: 1px solid @border-menu;
  cursor: pointer;
  color: @color-text--muted;

  &:hover {
    margin-left: 0;
    padding-left: 1rem;
    background: @background-menu;
  }

  i {
    font-size: 10px;
    position: relative;
    top: -1px;
    margin: 0 2px 0 4px;
  }
}

.sidebar .trash-controls {
  &:extend(.flex);
  justify-content: space-between;
  position: fixed;
  width: 250px;
  bottom: 0;
  background: @background-menu;
  border-top: 1px solid @border-menu;
  border-right: 1px solid @border-menu;
  padding: .5rem .5rem .5rem 1rem;
  text-align: right;

  button {
    font-size: 13px;
  }

  .view-trash {
    border-radius: 2px;
    margin-left: auto;

    i {
      margin-left: @margin-icon;
    }

    &:hover {
      background: @border-menu;
    }
  }

  .bulk-delete {
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }
}

.view {
  padding: 2rem;
  max-width: 675px;
  margin: auto;
  position: relative;

  &.empty {
    max-width: 100%;
  }

  @media (min-width: 925px) {
    margin-left: 250px;
  }

  .menu {
    position: absolute;
    top: 10px;
    left: 2em;

    i {
      font-size: 20px;
    }

    @media (min-width: 925px) {
      display: none;
    }
  }

  .section-heading {
    &:extend(.flex);
    justify-content: space-between;
    border-bottom: 1px solid @border-menu;
    margin-bottom: 1rem;

    a {
      font-size: .75rem;

      &:hover {
        &:extend(.link:hover);
      }
    }
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  h2 {
    font-size: 1rem;
    font-weight: 500;
  }
}

.view .empty {
  font-size: 20rem;
  text-align: center;
  color: fadeout(@color-text--light, 80%);
  margin-top: 17vh;
  -webkit-text-stroke-width: 10px;
  -webkit-text-stroke-color: #fff;
}

.view .archive {
  position: relative;

  section {
    margin-bottom: 2rem;
  }

  .description {
    margin-top: 20px;
    font-style: italic;
  }

  .dat-url {
    &:extend(.overflow-ellipsis);
    max-width: 100%;
  }

  .header {

    .title {
      &:extend(.flex);
      &:extend(.overflow-ellipsis);
      align-items: center;
      max-width: 450px;
      margin-top: 25px;

      // max-width of .title + width of .actions
      @media (min-width: 665px) {
        margin-top: 0;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .readonly {
      text-transform: uppercase;
      border: 1px solid @border-menu;
      border-radius: 2px;
      font-size: .65rem;
      background: @background-menu;
      margin-left: 5px;
      margin-top: 2px;
      padding: 1px 5px;
      display: inline-block;
      color: @color-text--muted;
      font-weight: 400;

      i {
        margin-right: 3px;
      }
    }

    .actions {
      position: absolute;
      right: 0;
      top: -45px;

      // max-width of .title + width of .actions
      @media (min-width: 665px) {
        top: 1px;
      }

      .btn {
        display: inline-block;
      }

      .dropdown-btn-list {
        width: 175px;
        font-size: 13px;
      }
    }
  }

  .metadata {

    table {
      max-width: 100%;
      overflow: hidden;
      border: 1px solid @border-menu;
      border-collapse: collapse;
      font-size: 13px;
    }

    tr {
      border-bottom: 1px solid @border-menu;

      &:nth-of-type(2n) {
        background: tint(@background-menu, 35%);
      }
    }

    td {
      padding: .4rem .5rem;
      border-bottom: 1px solid @border-menu;

      &.label {
        border-right: 1px solid @border-menu;
        font-weight: 500;
      }
    }
  }

  .history {
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;

    .history-item {
      margin-bottom: 3px;
    }

    .date {
      display: inline-block;
      width: 85px;
    }

    .path:hover {
      &:extend(.link:hover);
    }

    .load-more {
      display: block;
      background: @background-button;
      text-align: center;
      margin-top: 1em;
      padding: 1em;
    }
  }

  .changes {
    border: 1px solid @border-menu;
    border-radius: 3px;

    .changes-heading {
      &:extend(.flex);
      background: @background-menu;
      border-bottom: 1px solid @border-menu;
      align-items: center;
      padding: 5px 10px;

      .diff-summary {
        font-size: 13px;
        font-weight: 500;
        color: @color-text--muted;
      }

      .actions {
        margin-left: auto;
      }
    }

    .changes-list {
      &:extend(.flex);
      padding: 10px;
    }

    .change {
      display: block;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    .files {
      line-height: 14px;

      &:hover span {
        text-decoration: underline;
      }
    }

    .files {
      display: inline-block;
      font-size: 13px;
      flex: 1;

      .file {
        padding: 2px 0;
      }

      i.op {
        width: 14px;
        font-size: 10px;
        text-align: center;
        margin-right: @margin-icon;

        &.add {
          color: @color-change--add;
        }

        &.mod {
          color: @color-change--mod;
        }

        &.del{
          color: @color-change--del;
        }
      }

      .link {
        color: @color-text--muted;
      }

      .show-all {
        display: block;
        margin-top: 5px;
        margin-left: 22px;
        color: @color-link;
      }
    }
  }
}

.view .trash {

  h1 {
    margin-bottom: 1rem;
  }

  .trash-list {
    list-style: disc;
    margin-left: 1rem;
  }

  .trash-item {
    margin-bottom: .5rem;
  }

  button.restore {
    padding: 3px 5px;
    border-radius: 2px;
    background: @background-menu;
    border: 1px solid @border-menu;

    &:hover {
      background: @border-menu;
    }
  }
}

.trash-list {
  h2 {
    margin-bottom: 10px;
  }

  div {
    padding: 10px;
    font-size: 14px;

    &:nth-child(even) {
      background: #fafafa;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

section.tabs-content {
  font-size: .85rem;

  p > a {
    &:extend(.link);
  }
}