@import "../base/reset.less";
@import "../base/colors.less";
@import "../base/spacing.less";
@import "../base/typography.less";

@import "../components/link.less";
@import "../components/buttons.less";
@import "../com/spinner.less";
@import "../components/inputs.less";

* {
  box-sizing: border-box;
}

main {
  &:extend(.system-font);
  font-size: 14px;
}

.sidebar {
  &:extend(.vertical-scroll);
  &:extend(.hide-scrollbar all);
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  border-right: 1px solid @border-menu;
  background: #fff;
}

.sidebar-actions {
  position: fixed;
  width: 250px;
  border-bottom: 1px solid @border-menu;
  border-right: 1px solid @border-menu;
  z-index: 2;
  background: #fff;

  label[for="filter"] {
    position: relative;
  }

  .clear-filter {
    visibility: hidden;
    position: absolute;
    left: calc(100px - 1.5rem);
    top: -27px;
    left: 225px;
    color: @color-text--muted;
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 14px;

    &:hover {
      background: @background-menu;
    }

    &.visible {
      visibility: visible;
    }
  }

  .filter {
    &:extend(input.roomy);
    font-size: 14px;
    border-radius: 0;
    border: none;
    padding-left: 1rem;
  }

  .sort {
    padding: .15rem 0 .15rem 1rem;
    font-size: 12px;
    background: @background-menu;
    border-top: 1px solid @border-menu;
  }

  .filter, .sort {
    display: block;
    width: 100%;
  }
}

.sidebar .archives-list {
  margin-top: 55px; // height of .sidebar-actions
  margin-bottom: 38px; // height of .trash-controls
}

.sidebar .archive {
  padding: .5rem 0;
  margin-left: 1rem;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid @border-menu;

  &.active {
    background: @blue;
    color: #fff;
    margin-left: 0;
    padding-left: 1rem;

    .last-updated, .peers {
      color: #fff;
    }

    .readonly {
      display: none;
    }

    .last-updated {
      left: 1rem;
    }
  }

  .title {
    font-weight: 600;
    margin-bottom: 1.25rem;

    .readonly {
      color: @color-text--muted;
    }
  }

  .title, .description {
    &:extend(.overflow-ellipsis);
    max-width: 200px;
  }

  .last-updated, .peers {
    position: absolute;
    bottom: .5rem;
    font-size: 12px;
    color: @color-text--muted;
  }

  .last-updated {
    left: 0;
  }

  .peers {
    right: .5rem;
  }
}

.sidebar .trash-controls {
  position: fixed;
  width: 250px;
  bottom: 0;
  background: @background-menu;
  border-top: 1px solid @border-menu;
  border-right: 1px solid @border-menu;
  padding: .5rem .5rem .5rem 1rem;
  text-align: right;

  button {
    font-size: 13px;
    border-radius: 2px;

    &:hover {
      background: @border-menu;
    }
  }

  i {
    margin-left: @margin-icon;
  }
}

.view {
  margin-left: 250px;
  padding: 2rem;
  max-width: 675px;

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  h2 {
    font-size: 1rem;
    font-weight: 500;
    border-bottom: 1px solid @border-menu;
    margin-bottom: 1rem;
  }
}

.view .archive {
  position: relative;

  .info, .peer-history, .metadata, .history {
    margin-bottom: 3rem;
  }

  .title {
    &:extend(.overflow-ellipsis);
    max-width: 450px;

    &:hover {
      text-decoration: underline;
    }

    .readonly {
      color: @color-text--light;
    }
  }

  .actions {
    position: absolute;
    right: 0;
    top: 1px;

    .btn {
      display: inline-block;
    }

    .dropdown-btn-list {
      width: 175px;
      font-size: 13px;
    }
  }

  .peer-history {
  }

  .peers {
  }

  .metadata {

    table {
      border: 1px solid @border-menu;
      border-collapse: collapse;
      font-size: 13px;
    }

    tr {
      border-bottom: 1px solid @border-menu;

      &:nth-of-type(2n) {
        background: tint(@background-menu, 35%);
      }
    }

    td {
      padding: .4rem .5rem;
      border-bottom: 1px solid @border-menu;

      &.label {
        border-right: 1px solid @border-menu;
        font-weight: 500;
      }
    }
  }
}

.view .trash {

  h1 {
    margin-bottom: 1rem;
  }

  .trash-list {
    list-style: disc;
    margin-left: 1rem;
  }

  .trash-item {
    margin-bottom: .5rem;
  }

  button.restore {
    padding: 3px 5px;
    border-radius: 2px;
    background: @background-menu;
    border: 1px solid @border-menu;

    &:hover {
      background: @border-menu;
    }
  }
}

.trash-list {
  h2 {
    margin-bottom: 10px;
  }

  div {
    padding: 10px;
    font-size: 14px;

    &:nth-child(even) {
      background: #fafafa;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

