@import "../base/reset.less";
@import "../base/colors.less";
@import "../base/spacing.less";
@import "../base/typography.less";

@import "../components/link.less";
@import "../components/buttons.less";
@import "../com/spinner.less";

* {
  box-sizing: border-box;
}

main {
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
  font-size: 13px;
}

.archives-list {
  margin: 2em;
}

.archive {
  display: flex;
  padding: 20px 0;
  border-top: 1px solid #eee;
  color: #555;

  &:last-child {
    border-bottom: 1px solid #eee;
  }

  .info {
    flex: 1;
  }

  .status {
    margin-top: 3px;
  }

  .peers {
    flex: 0 0 50px;
  }

  .peer-history {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #ddd;
  }

  .title {
    font-size: 18px;
  }

  .peers {
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding-left: 10px;
    border-left: 1px solid #ddd;

    .num {
      font-size: 27px;
      margin-right: 5px;
    }

    .label {
      font-size: 11px;
      color: #666;
    }
  }
}