@import "../base/colors.less";
@import "./components/tabs.less";
@import "./components/search/source-view.less";
@import "./components/search/user-result.less";
@import "./components/search/post-result.less";
@import "./components/search/site-result.less";

.search .builtin-main {  
  max-width: none;
  padding: 5px 10px;

  .builtin-sidebar {
    top: 18px;
  }

  h2 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: normal;
  }
}

.breadcrumbs {
  margin-bottom: 5px !important;
  color: #555;
  padding: 0 15px;
}

.search-header {
  margin-bottom: 15px !important;

  .brand {
    text-align: center;
    margin-bottom: 10px;

    img {
      width: 100px;
      height: 100px;
    }
  }

  .search-container {
    height: 40px;

    input.search {
      padding-left: 40px;
      border-radius: 30px;
    }

    i.fa-search {
      left: 20px;
      top: 13.75px;
    }

    .clear-btn {
      position: absolute;
      right: 12px;
      top: 10px;
      color: #555;
      background: rgba(0,0,0,.1);
      border-radius: 10px;
      padding: 1px 10px 2px;
      font-size: 11px;
      cursor: pointer;
    }
  }

  .search-actions {
    margin: 20px 0 14px;
    text-align: center;
  }

  .browse-links {
    text-align: center;
    color: rgba(0,0,0,.65);
  }
}

.search-body {
  display: flex;

  .tabs {
    flex-direction: column;
    margin-right: 10px;

    .tab {
      text-align: right;
      border-right: 2px solid transparent;
      margin-left: 0;

      &.active {
        border-bottom: 0;
        background: #eee;
      }
    }
  }

  .search-results-col {
    flex: 1;
    align-self: flex-start;
    margin-right: 10px;
  }

  .new-post-col {
    flex: 1;
    margin-right: 10px;

    form {
      padding: 14px 20px;
      background: #fff;
      border: 1px solid #ddd;
      margin-bottom: 10px;
    }

    .input {
      margin-bottom: 10px;
    }
    
    input {
      display: block;
      width: 100%;
    }

    .has-error input {
      border-color: red;
    }

    .error {
      color: maroon;
    }

    .form-actions {
      margin-top: 14px;
    }
  }

  .search-controls-col {
    width: 160px;

    & > * {
      margin-bottom: 10px;
    }
  }
}

.search-results {
  margin-bottom: 10px;
  min-height: 400px;

  // dots pattern
  background: linear-gradient(90deg, #f7f7f7 4px, transparent 1%) center, linear-gradient(#f7f7f7 4px, transparent 1%) center, #e5e5e5;
  background-size: 6px 6px;

  .empty {
    background: #fff;
    border: 1px solid #ddd;
    color: rgba(0,0,0,.5);
    padding: 20px 0;
    text-align: center;
  }
}

.search-result {
  background: #fff;
  padding: 14px;
  border: 1px solid #ddd;
  border-bottom-width: 0;

  &:last-child {
    border-bottom-width: 1px;
  }

  &:hover {
    border-color: #ccc;
  }
  &:hover + .search-result {
    border-top-color: #ccc;
  }

  .owner-controls {
    float: right;
  }

  .title {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
  }

  .meta {
    color: rgba(0,0,0,.5);
  }

  a.type {
    display: inline-block;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .timestamp {
    &:before {
      content: '|';
    }
  }
}

.search-sidecontrol {
  &.box {
    padding: 16px 20px;
    background: #fff;
    border: 1px solid #ddd;
  }

  h3 {
    font-size: 13px;
    margin-bottom: 6px;
  }

  .radio {
    li {
      color: rgba(0,0,0,.5);
      cursor: pointer;

      &.active,
      &:hover {
        color: rgba(0,0,0,.75);
      }
    }

    .fa-check {
      margin: 0 6px;
      visibility: hidden;
    }

    .active .fa-check {
      visibility: visible;
    }
  }
}

.alternative-engines {
  padding: 5px 0;
  color: rgba(0,0,0,.65);
  line-height: 1.8;

  ul {
    display: flex;
  }

  li {
    margin-right: 10px;
  }

  a.link {
    color: inherit;

    span {
      margin-right: 3px;
      margin-left: 4px;
    }
  }
}

.pagination {
  .current {
    padding: 0 10px;
  }
  .btn {
    min-width: 32px;
    text-align: center;
  }
  .disabled {
    cursor: default;
  }
}
