@import "../base/colors.less";
@import "./components/tabs.less";
@import "./components/search/user-result.less";
@import "./components/search/post-result.less";
@import "./components/search/site-result.less";

.search .builtin-main {  
  max-width: 1400px;
  padding: 15px 10px;

  .builtin-sidebar {
    top: 18px;
  }
}

.search-header {
  margin-bottom: 15px !important;

  .brand {
    text-align: center;
    margin-bottom: 10px;

    img {
      width: 100px;
      height: 100px;
    }
  }

  .search-container {
    height: 40px;

    input.search {
      padding-left: 40px;
      border-radius: 30px;
    }

    i.fa-search {
      left: 20px;
      top: 13.75px;
    }

    .clear-btn {
      position: absolute;
      right: 12px;
      top: 10px;
      color: #555;
      background: rgba(0,0,0,.1);
      border-radius: 10px;
      padding: 1px 10px 2px;
      font-size: 11px;
      cursor: pointer;
    }
  }

  .search-actions {
    margin: 20px 0 14px;
    text-align: center;
  }

  .browse-links {
    text-align: center;
    color: rgba(0,0,0,.65);
  }
}

.showing-results-for {
  color: rgba(0, 0, 0, 0.65);
  font-size: 12px;
  margin: 0px 96px 10px !important;
}

.search-body {
  display: flex;
  padding-right: 24px;

  .tabs {
    flex-direction: column;
    margin-right: 10px;

    .tab {
      text-align: right;
      border-right: 2px solid transparent;
      margin-left: 0;

      &.active {
        border-bottom: 0;
        border-right-color: @blue;
      }
    }
  }

  .search-results-col {
    flex: 1;
    align-self: flex-start;
    margin-right: 10px;

    .search-results {
      margin-bottom: 10px;

      .empty {
        background: #eee;
        color: rgba(0,0,0,.5);
        padding: 50px 0;
        text-align: center;
      }
    }

    .search-result {
      background: #fff;
      padding: 20px;
      border: 1px solid #ddd;
      border-bottom-width: 0;

      &:last-child {
        border-bottom-width: 1px;
      }

      &:hover {
        border-color: #ccc;
      }
      &:hover + .search-result {
        border-top-color: #ccc;
      }

      .title {
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
      }

      .type {
        font-size: 11px;
        color: rgba(0,0,0,.5);
        cursor: pointer;

        &:hover span {
          text-decoration: underline;
        }

        &:before {
          content: '|';
        }
      }

      .timestamp {
        font-size: 11px;
        color: rgba(0,0,0,.5);

        &:before {
          content: '|';
        }
      }
    }
  }

  .search-controls-col {
    width: 200px;

    & > * {
      margin-bottom: 10px;
    }
  }
}

.search-sidecontrol {
  &.box {
    padding: 16px 20px;
    background: #fff;
    border: 1px solid #ddd;
  }

  h3 {
    font-size: 13px;
    margin-bottom: 6px;
  }

  .radio {
    li {
      color: rgba(0,0,0,.5);
      cursor: pointer;

      &.active,
      &:hover {
        color: rgba(0,0,0,.75);
      }
    }

    .fa-check {
      margin: 0 6px;
      visibility: hidden;
    }

    .active .fa-check {
      visibility: visible;
    }
  }
}

.alternative-engines {
  padding: 5px;
  color: rgba(0,0,0,.65);
  line-height: 1.8;

  a.link {
    color: inherit;

    span {
      margin-right: 3px;
      margin-left: 4px;
    }
  }
}

.pagination {
  .current {
    padding: 0 10px;
  }
  .btn {
    min-width: 32px;
    text-align: center;
  }
  .disabled {
    cursor: default;
  }
}
