@import "../photon.min.less";
@import "../base/reset.less";
@import "../components/buttons.less";
@import "../components/inputs.less";
@import "../components/modal.less";

body {
  background: #fff;
}

.modal {
  margin: 0;
}

.archive-picker {
  max-height: 150px;
}

.archives-list {
  height: 125px;
  overflow-y: auto;
}