@import "../photon.min.less";

@font-face {
  font-family: "photon-entypo";
  src: url("beaker:font") format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  cursor: pointer;
}

// dont do photon's highlighting on click
tr:active {
  background: inherit;
  color: inherit;
}
.table-striped tr:active:nth-child(even) {
  background-color: #f5f5f4;
  color: inherit;
}

.pane table {
  // enlarge the bookmarks list
  font-size: 14px;

  tr {
    td {
      padding: 2px 8px;

      // make links blend into the table more nicely
      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }

      // add some space to the icons
      .icon {
        margin-right: 3px;
      }

      // make the link take the full width
      &:first-child a {
        display: block;
      }

      // make the actions compact, and hidden except on hover
      &.actions {
        width: 25px;
        .icon {
          display: none;
          cursor: pointer;
        }
      }
    }

    &:hover {
      background: #f5f5f4;

      td.actions {
        // show icons on row hover
        .icon {
          display: inline;
        }
      }
    }
  }
}

.links-list {
  font-size: 14px;

  .ll-row {
    display: flex;

    .ll-link {
      flex: 1;
      padding: 4px 10px;
      color: #555;
      text-decoration: none;

      .icon-window {
        margin-right: 4px;
      }

      .ll-title, .ll-url {
        // make title and url stop at half width
        cursor: pointer;
        display: inline-block;
        max-width: 40%;
        overflow: hidden;
        white-space: pre;
        text-overflow: ellipsis;
        vertical-align: top;
      }
      .ll-title {
        color: #397EEF;
        max-width: 50%;
      }
      .ll-url {
        margin-right: 2px;
        color: gray;
        &:before {
          content: '-';
          margin-right: 5px;
        }
      }
    }

    // make the actions compact, and hidden except on hover
    .ll-actions {
      flex: 0 0 25px;
      padding: 4px 8px;
      .icon {
        display: none;
        cursor: pointer;
      }
    }

    &:hover {
      background: #f5f5f4;
      .ll-actions {
        // show icons on row hover
        .icon {
          display: inline;
        }
      }
    }
  }
}