@import "../base/reset.less";
@import "../base/colors.less";
@import "../base/spacing.less";
@import "../base/typography.less";
@import "../components/inputs.less";
@import "../components/buttons.less";
@import "../utils/decorators.less";

* {
  box-sizing: border-box;
}

html,
body,
main {
  height: 100%;
  background: #fff;
}

body {
  &:extend(.system-font);
  font-size: 14px;
}

h1 {
  padding: 0.3rem;
  background: @background-message;
  height: 40px;
}

#filter {
  position: absolute;
  top: 10px;
  right: 10px;

  input {
    width: 400px;
  }
}

nav {
  border-bottom: 1px solid #ccc;
  background: @background-message;
  padding: 0.2rem 0.4rem 0;
  height: 28px;

  a {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border: 1px solid transparent;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;

    &:hover {
      background: #ddd;
    }
  }

  a.active {
    background: #fff;
    border-color: #ccc;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      background: #fff;
      left: 0;
      width: 100%;
      bottom: -1px;
      height: 1px;
    }
  }
}

main {

  .view {
    overflow-y: scroll;
    height: ~"calc(100vh - 68px)";
  }

  .log {
    padding: 0.5rem;
    width: 100%;

    thead {
      font-weight: bold;
    }

    tr:hover {
      background: #eee;
    }

    td {
      cursor: pointer;

      &:hover {
        background: #ddd;
      }
    }
  }

  section {
    display: inline-block;
    width: 300px;
    padding: 1rem;
  }

  .peers {
    height: 200px;
    overflow: auto;
    border: 1px solid #ccc;
  }

  .peers > div {
    border-bottom: 1px solid #eee;
    padding: 0.5rem;
    font-family: Consolas, 'Lucida Console', Monaco, monospace;
  }
}

td {
  padding-right: 10px;
}