@import "../base/reset.less";
@import "../base/colors.less";
@import "../base/spacing.less";
@import "../base/typography.less";

@import "../components/buttons.less";
@import "../components/link";
@import "../com/spinner.less";
@import "../components/inputs";
@import "../utils/flex";

@import "../vendor/croppie.less";

* {
  box-sizing: border-box;
}

main {
  &:extend(.system-font);
  font-size: 13px;
  height: 100vh;
  width: 1200px;
  position: relative;

  .nav {
    width: 300px;
    position: fixed;
    left: 20px;
    top: 20px;

    ul {
      list-style: disc;
      padding-left: 2em;
    }
  }

  .links {
    font-size: 14px;
    border: 1px solid @border-menu;
    border-radius: 3px;
    background: #fff;

    li.step-link {
      cursor: pointer;
      vertical-align: middle;

      .title {
        display: block;
        padding: 10px;

        i {
          margin-right: @margin-icon;
        }

        &:hover {
          background: @background-menu--hover;
        }
      }

      .title,
      .subnav {
        border-bottom: 1px solid @border-menu;
        background: @background-menu;
      }

      .subnav {
        background: #fff;
        display: none;
        padding: 10px;
        color: @color-link;
        padding-left: 20px;
        list-style: none;

        li:not(last-child) {
          margin-bottom: 3px;
        }

        li.active {
          position: relative;
          color: @color-text;
          font-weight: bold;
        }

        i {
          position: absolute;
          left: -10px;
          top: 2px;
        }

        li:hover {
          &:extend(.link:hover);
        }
      }

      &.active {

        .subnav {
          display: block;
        }
      }

      &:last-child .title {
        border-bottom: 0;
      }
    }
  }

  .step {
    position: absolute;
    left: 340px;
    top: 20px;

    .title {
      font-size: 2rem;
      margin-bottom: @padding-component;
    }
  }

  .screenshot-container {
    width: 600px;
    margin-bottom: @padding-component;
    text-align: center;

    img.screenshot {
      max-width: 100%;
    }
  }

  .info {
    width: 600px;
    padding-bottom: 100px;

    p {
      font-size: 17px;
    }

    ul {
      margin-top: 10px;
      list-style-type: disc;
      margin-left: 20px;
    }

    a {
      &:extend(.link);

      &:hover {
        &:extend(.link:hover);
      }
    }
  }

  .sections {
    list-style-type: disc;
    font-size: 14px;
    color: @color-link;
    margin-left: 20px;

    li {
      margin-bottom: 3px;
      cursor: pointer;

      &:hover {
        &:extend(.link:hover);
      }

      &.active {
        font-weight: bold;
      }
    }
  }

  .navigation {
    &:extend(.flex);
    width: 100%;
    border-top: 1px solid @border-menu;
    color: @color-link;
    font-size: 16px;
    justify-content: space-between;
    margin-top: @padding-component;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px;
    z-index: 2;
    background: #fff;

    .back,
    .next {
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
    }

    .next {
      margin-left: auto;
    }

    .back {
      margin-right: auto;
    }
  }
}
