@import "../photon.min.less";

@font-face {
  font-family: "photon-entypo";
  src: url("beaker:font") format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  cursor: pointer;
  color: inherit;
  &:hover {
    color: blue;
  }
}

// override some btn styles
.btn {
  font-family: sans-serif;
}
.btn-primary {
  border-color: #1867cc #1c6cd2 #05489c;
  background-image: linear-gradient(to bottom, #4a9cea 0, #1664bf 100%);
}

.view-dat {
  .view-dat-header {
    display: flex;

    & > * {
      padding: 10px;
      line-height: 23px;
    }
    .vdh-title {
      font-size: 21px;
      line-height: 21px;
      a {
        text-decoration: none;
      }
    }
    .vdh-actions {
      flex: 1;
    }
    .vdh-more-actions {
      line-height: 21px;
      button {
        margin: 0 2px;
      }    
    }
  }
  .view-dat-desc {
    padding: 0 10px;

    // this is sloppy but who cares.
    // the element is optional and reducing the padding in view-dat-header looks wrong when this el isnt present.
    position: relative;
    top: -2px;

    p {
      margin: 0 0 .5em;
    }

    ul {
      margin-bottom: .5em;
      padding-left: 2.5em;
    }
  }
  .files-list {
    margin-bottom: 14px;
  }
  .view-dat-install {
    padding: 0 10px;
    background: #fafafa;
    border: 1px dashed #ccc;
    border-width: 1px 0;

    .btn {
      font-size: 15px;
      margin-right: 5px;

      // sometimes... you just gotta bump up a pixel
      position: relative;
      top: -1px;
    }
  }
}

.bookmark {
  color: #fff;
  -webkit-text-stroke: 1px #aaa;
  font-size: 18px;
  margin-left: 2px;
  position: relative;
  top: -1px;

  &.gold, &:hover {
    color: #FFBC00;
    -webkit-text-stroke: 1px #EAAE05;
  }
}


@import "./com/files-list.less";