@import "../../../base/colors";

.search-result.page {
  display: flex;
  margin: 20px 20px 30px;
  align-items: end;

  .details {
    flex: 1;
  }

  .details > * {
    line-height: 1.2;
    margin-bottom: 4px;
  }

  .title {
    display: inline-block;
    font-size: 18px;
  }

  .hostname {
    color: shade(@green, 18%);
  }

  .author {
    img {
      display: inline-block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      vertical-align: sub;
    }
  }

  .description {
    max-width: 550px;
    color: #777;
  }
}