.template-selector {
  .template-selector-title {
    padding: 5px 10px 15px;
    font-weight: 500;
    font-size: 11px;
  }

  .template-selector-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px 20px;

    @media (max-width: 1450px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    @media (max-width: 1300px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    @media (max-width: 1100px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media (max-width: 920px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .template-item {
      cursor: pointer;
      width: 150px;
      padding: 20px 0;
      align-items: center;

      img {
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 auto;
      }

      .label {
        text-align: center;
        padding: 15px 0 0;
        font-size: 12px;
      }

      &:hover {
        background: #eee;
      }

      &.disabled {
        cursor: default;

        img, .label {
          opacity: 0.25;
        }

        &:hover {
          position: relative;

          &:before {
            content: 'Coming soon';
            position: absolute;
            left: 0;
            top: 35%;
            text-align: center;
            width: 100%;
            color: red;
            opacity: 1;
            font-weight: 500;
          }
        }
      }
    }
  }

  .template-configuration {
    min-width: 400px;
    padding: 0 20px;

    .template-form-field {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      label {
        flex: 0 0 100px;
      }
      input {
        flex: 1;
      }
    }
  }

  .template-selector-actions {
    display: flex;
    padding: 10px;

    .btn {
      margin-left: 10px;

      &.left {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }
}