#explorer-popup {

  .popup-inner {
    width: 80vw;
    max-width: 900px;
    min-width: 600px;
  }

  .head {
    .filter-control {
      input {
        height: 26px;
        margin: 0;
        width: calc(100% - 30px);
      }
    }
  }

  .explorer-body {
    .suggestions {
      overflow-y: auto;
      max-height: calc(100vh - 200px);
      padding: 20px 30px;

      .empty {
        color: rgba(0,0,0,.5);
      }

      .group {
        padding: 0 0 20px;

        .group-title {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          color: rgba(0, 0, 0, 0.5);
          margin-bottom: 10px;
          padding-bottom: 2px;
          padding-left: 2px;
          letter-spacing: -0.5px;
        }

        .group-items {
          .suggestion {
            display: flex;
            align-items: center;
            padding: 10px;
            overflow: hidden;
            user-select: none;

            .favicon {
              width: 32px;
              height: 32px;

              &.rounded {
                border-radius: 50%;
              }
            }

            .title {
              white-space: nowrap;
            }

            &:hover {
              background: #eee;
            }
          }
        }
      }

      &.defaults {
        .group {
          .group-items {
            display: grid;
            grid-template-columns: repeat(6, 1fr);

            @media (min-width: 1300px) {
              grid-template-columns: repeat(8, 1fr);
            }

            .suggestion {
              flex-direction: column;

              .favicon {
                margin-bottom: 6px;
              }
            }
          }
        }
      }

      &.query-results {
        .group {
          .group-items {
            .suggestion {
              .favicon {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}