.archives-list {
  font-size: 15px;
  .al-row {
    padding: 20px 10px;
    border-top: 1px solid #ddd;

    .al-main {
      display: flex;
      align-items: center;
      margin-bottom: 1px;
    }
    .al-created-by {
      color: #15ab02;
      a { color: inherit; }
    }

    .al-title {
      flex: 1;
      overflow: hidden;
      a {
        font-size: 18px;
        font-weight: bold;
      }
      img {
        position: relative;
        top: 1px;
      }
      small {
        color: gray;
      }
    }
    .al-ctrls {
      font-size: 13px;
      .btn {
        padding: 0px 10px;
      }
      .al-dropdown {
        display: inline-block;
      }
      .dropdown-btn-list {
        width: 100px;
      }
    }
  }
}