#el-sidenav {
  width: 140px;

  img.logo {
    display: block;
    margin: 10px 0 10px 40px;
    width: 48px;
    height: 48px;
  }

  .btn {
    padding: 3px 12px;
    margin: 5px 0 5px 18px;
  }

  .nav-group {
    font-size: 13px;
  }
  .nav-group-item {
    padding: 4px 14px;
    margin: 7px 0;
    border-left: 6px solid transparent;
    color: #555;
    .icon {
      color: #555;
    }

    &.active {
      color: #016fde;
      border-color: #016fde;
      background: none;
      .icon {
        color: #016fde;
      }
    }
  }
}