.spinner {
  height: 14px;
  width: 14px;
  animation: rotate .75s infinite linear;
  color: #555;
  border: 2px solid;
  border-right-color: transparent;
  border-radius: 50%;
  transition: color 0.25s;

  &.reverse {
    animation: rotate 2s infinite linear reverse;
    color: #999;
  }
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}