@import "../base/colors.less";
@import "../base/spacing.less";
@import "./inputs";

.popup-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.85);
  font-style: normal;
}

.popup-inner {
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0,0,0,.15);
  padding: @padding-component;
  border: 1px solid @border-popup;
  width: 450px;
  margin: 80px auto 0;

  .title {
    font-size: 18px;
  }
}

#share-popup {
  .popup-inner {

    div {
      margin: @padding-component--tight 0;
      line-height: 1;
    }

    input {
      &:extend(.code-font);
      &:extend(input.roomy);
      color: @color-text;
      width: 100%;
      margin-top: @padding-component--tight;
      font-size: .85rem;

      &:focus {
        outline: none;
      }
    }

    .btn {
      float: right;
    }

    .info {
      margin: @padding-component--tight 0;
      color: @color-text--muted;
      font-size: .8rem;

      i {
        margin-right: 3px;
      }
    }
  }
}

#crop-popup {
  .popup-inner {
    width: 298px;

    .controls {
      width: 256px;    
      margin: 1rem 0 0;
    }

    canvas {
      display: block;
      border: 1px solid gray;
      border-radius: 50%;
    }

    input[type="range"] {
      width: 256px;
    }

    .btns {
      text-align: right;
    }
  }
}

#add-pinned-bookmark-popup {
  .popup-inner {
    .head {
      position: relative;
      margin-bottom: 10px;

      .x {
        position: absolute;
        top: 0;
        right: 0;
        &, * {
          cursor: pointer;
        }
      }
    }

    label,
    input {
      display: block;
    }

    label {
      margin: 0;
      font-weight: 500;
      font-size: 0.8rem;
    }

    input {
      width: 100%;
      margin-bottom: 10px;
    }

    .actions {
      display: flex;
      margin-top: 16px;

      .primary {
        margin-left: auto;
      }
    }
  }
}