.archives {
  .page-toolbar .btn {
    font-size: 14px;
  }
  .archives-empty {
    .archives-empty-banner {
      display: flex;
      align-items: center;
      padding: 12px 20px;
      background: #f0f0f0;
      margin: 16px 8px;
      border-radius: 6px;
      color: #848484;
      border: 1px solid #ddd;

      div.icon {
        margin: 0 14px 0 0;
        font-size: 23px;
        color: #999;
      }
      a.icon {
        margin-left: 5px;
      }
    }
  }
}