.site {
  .site-heading {
    font-size: 15px;
    color: #555;
    padding: 10px 15px 0px;

    strong {
      font-size: 21px;
    }

    .site-heading-btns {
      margin: 10px 0;
      font-size: 11px;

      .btn, .btn-group {
        margin-right: 5px;
      }
    }
  }

  .site-summary {
    margin: 10px 12px 0;
    color: gray;
    font-size: 12px;

    span {
      margin-right: 10px;
    }
  }

  .site-help {
    padding: 8px 30px;
    color: #909090;
  }

  .site-readme {
    .markdown {
      padding: 20px 15px 20px;

      & > :first-child {
        margin-top: 0;
      }

      & > :last-child {
        margin-bottom: 0;
      }
    }
  }
}